{% extends '::base.html.twig' %}

{% block tab_title %} Dashboard {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
  <div class="row">
    <!-- top tiles -->
    <div class="row tile_count">
      <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
          <span class="count_top"><i class="fa fa-university"></i> Total Universities</span>
          <div class="count">{{ universidades }}</div>
          <span class="count_bottom"><i class="red">{{ universidades_ocultas }} </i> Unpublished</span>
        </div>
      </div>
      <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
          <span class="count_top"><i class="fa fa-mortar-board"></i> Places Offered</span>
          <div class="count green">{{ plazas_ofertadas }}</div>
          <span class="count_bottom"><i class="red">{{ plazas_no_ofertadas }} </i> Not offered</span>
        </div>
      </div>
      <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
          <span class="count_top"><i class="fa fa-camera"></i> Total Experiences</span>
          <div class="count green">{{ total_experiencias }}</div>
          <span class="count_bottom">
            {% if texp_lweek > texp_cweek %}
            <i class="red">
              <i class="fa fa-sort-desc"></i>
              {% elseif texp_lweek < texp_cweek %}
              <i class="green">
              <i class="fa fa-sort-asc"></i>
                {% endif %}
                {{ texp_cweek }}</i> From last Week</span>
        </div>
      </div>
      <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
          <span class="count_top"><i class="fa fa-comments-o"></i> Total Tandems</span>
          <div class="count">4,567</div>
          <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
        </div>
      </div>
      <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
          <span class="count_top"><i class="fa fa-users"></i> Total Users</span>
          <div class="count">2,315</div>
          <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
        </div>
      </div>
    </div>
    <!-- /top tiles -->
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-dashboard"></i> Dashboard
          </h2>
          <div class="pull-right">
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-bell"></i> Notifications
          </h2>
          <div class="pull-right">
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          {% for experiencia in nuevas_experiencias %}
            <article class="media event">
              <a class="pull-left date">
                <p></p>
                <p class="month">
                  <i class="fa fa-camera fa-2x"></i></p>
                <p></p>
              </a>
              <div class="media-body">
                <a class="title" href="#">{{ experiencia.usuario.nombre }}</a>
                <p>{{ experiencia.universidad.nombre }}</p>
                <p><i class="fa fa-calendar"></i> {{ experiencia.fechaPublicacion | date }}</p>
              </div>
              <div class="media-left">
                <a href="{{ path('admin_experiencia_edit', {'id': experiencia.id}) }}" class="btn btn-primary btn-xs">Edit</a>
              </div>
            </article>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}