{% extends '::base.html.twig' %}

{% block tab_title %} Shared resources  {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
    <div class="row">
        <!-- Confirmación eliminación Documento -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        <i class="fa fa-book"></i> <a href="{{ path('apuntes_index') }}"> Deleting a document </a>
                        <small>Delete</small>
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3>Be careful!</h3>
                            <p>
                               You're going to delete your document!
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                                <hr/>
                                <a href="{{ path('apuntes_index') }}" class="btn btn-default">Cancel</a>
                                <a href="{{ path('apuntes_delete', { 'id': apunte.id }) }}" class="btn btn-danger">Delete</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./ Confirmación eliminación documento -->
    </div>
    {% endblock %}