{% extends 'base.html.twig' %}

{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block tab_title %} Shared resources {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block breadcrumb %}
    <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
        <a href="{{ path('apuntes_index') }}" class="btn btn-default">List of documents</a>
        <a class="btn btn-default active">Document edition</a>
    </div>
{% endblock %}

{% block page_content %}
    {% if apunte.usuario == app.user %}
        <div class="row">
            {% include 'ApuntesBundle:apuntes:modal.html.twig' %}
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            <i class="fa fa-comments-o"></i> Editing a document
                        </h2>
                        <div class="pull-right">
                            <button class="btn btn-warning" type="button" data-toggle="modal"
                                    data-target="#modal_apuntes_edit"><i
                                        class="fa fa-info"></i> Info
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-lg-12">
                                {{ form_start(edit_form, {'attr': {'id': 'form_shared_document', 'novalidate': 'novalidate'}}) }}
                                <div class="col-lg-4 col-lg-offset-2">
                                    {{ form_row(edit_form.nombreArchivo) }}
                                    <span><b>Current file</b>: {{ apunte.nombreOriginal }}</span>
                                    <br/><br/>
                                    {{ form_row(edit_form.idiomaArchivo) }}
                                </div>
                                <div class="col-lg-4">
                                    {{ form_row(edit_form.carreraArchivo) }}
                                    {{ form_row(edit_form.cursoArchivo) }}
                                    {{ form_row(edit_form.cuatrimestreArchivo) }}
                                    {{ form_row(edit_form.asignaturaArchivo) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    <hr/>
                                    <a href="{{ path('apuntes_index') }}" class="btn btn-primary">Cancel</a>
                                    <input type="submit" class="btn btn-warning" value="Edit"/>
                                    <a href="{{ path('apuntes_delete_confirm', {'id': apunte.id}) }}"
                                       class="btn btn-danger" type="button"><i class="fa fa-trash"></i> Delete document</a>
                                    {{ form_end(edit_form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    <script>
        $("#form_shared_document").validate({
            rules: {
                'apuntes[idiomaArchivo]': {required: true,},
                'apuntes[carreraArchivo]': {required: true,},
                'apuntes[cursoArchivo]': {required: true, min: 1, max: 4},
                'apuntes[cuatrimestreArchivo]': {required: true,},
                'apuntes[asignaturaArchivo]': {required: true,},
            },
        });
    </script>
{% endblock %}
