{% extends 'base.html.twig' %}
{% block tab_title %} Shared resources {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block breadcrumb %}
    <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
        <a class="btn btn-default active">List of documents</a>
    </div>
{% endblock %}

{% block page_content %}
    {% set mensajeFlash = app.session.flashbag.get('info') %}

    {% for info in mensajeFlash %}
        {{ info }}
    {% endfor %}
    <div class="row">
        {% include 'ApuntesBundle:apuntes:modal.html.twig' %}
        <!-- Listado documentos -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        <i class="fa fa-file-pdf-o"></i> Documents
                    </h2>
                    <div class="pull-right">
                        <button class="btn btn-warning" type="button" data-toggle="modal"
                                data-target="#modal_apuntes_index"><i
                                    class="fa fa-info"></i> Info
                        </button>
                        <a href="{{ path('apuntes_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Share a
                            new document</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <table id=""
                               class="table table-striped table-bordered dt-responsive nowrap datatable-responsive"
                               cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>
                                <th>File name</th>
                                <th>Language</th>
                                <th>Career</th>
                                <th>Course</th>
                                <th>Subject</th>
                                <th>Uploading date</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for apunte in apuntes %}
                                <tr>
                                    <td>{{ apunte.nombreOriginal }}</td>
                                    <td>{{ apunte.idiomaArchivo }}</td>
                                    <td>{{ apunte.carreraArchivo }}</td>
                                    <td>{{ apunte.cursoArchivo ~ '-' ~ apunte.cuatrimestreArchivo }}</td>
                                    <td>{{ apunte.asignaturaArchivo }}</td>
                                    <td>{% if apunte.fechaSubida %}{{ apunte.fechaSubida|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td>
                                        <a href="{{ path('apuntes_show', { 'id': apunte.id }) }}"
                                           class="btn btn-info btn-xs"
                                           type="button"><i class="fa fa-pencil"></i> Show</a>
                                        {% if apunte.usuario == app.user %}
                                            <a href="{{ path('apuntes_edit', { 'id': apunte.id }) }}"
                                               class="btn btn-warning btn-xs"
                                               type="button"><i class="fa fa-pencil"></i> Edit</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
