<!-- Modal para información del index de apuntes -->
<div id="modal_apuntes_index" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Information about Shared Resource</h4>
            </div>
            <div class="modal-body">
                <p class="text-justify"><b>What I am seeing here?</b>
                    <br>Here you can see all the resources uploaded by students.
                </p>
                <p class="text-justify"><b>How can I find something?</b>
                    <br>You can use the "Search" field to find something by typing the career, subject or even the language of the file.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- ./ Modal para información de la página -->


<!-- Modal para información de subida de apuntes -->
<div id="modal_apuntes_new" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Information about Uploading a new resource</h4>
            </div>
            <div class="modal-body">
                <p class="text-justify"><b>What can I do here?</b>
                    <br>Here you can upload a new document to share it with other students.
                </p>
                <p class="text-justify"><b>Important!</b>
                    <br>The document must have PDF extension and maximum size for a file must be less than 5MB.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- ./ Modal para información de la página -->


<!-- Modal para información del show de apuntes -->
<div id="modal_apuntes_show" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Information about Shared Resource</h4>
            </div>
            <div class="modal-body">
                <p class="text-justify"><b>What I am seeing here?</b>
                    <br>here you can see all the information about the document. Also you can visualize and download it.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- ./ Modal para información de la página -->


<!-- Modal para información del edit de apuntes -->
<div id="modal_apuntes_edit" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Information Document edition</h4>
            </div>
            <div class="modal-body">
                <p class="text-justify"><b>What can I do here?</b>
                    <br>Here you can edit any information about your uploaded document, or even upload a new one if you have chosen a wrong document during the creation.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- ./ Modal para información de la página -->