{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block tab_title %} Shared resources {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block breadcrumb %}
    <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
        <a href="{{ path('apuntes_index') }}" class="btn btn-default">List of documents</a>
        <a class="btn btn-default active">Upload new document</a>
    </div>
{% endblock %}

{% block page_content %}
    <div class="row">
        {% include 'ApuntesBundle:apuntes:modal.html.twig' %}
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        <i class="fa fa-comments-o"></i> Uploading a document
                    </h2>
                    <div class="pull-right">
                        <button class="btn btn-warning" type="button" data-toggle="modal"
                                data-target="#modal_apuntes_new"><i
                                    class="fa fa-info"></i> Info
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-lg-12">
                        {{ form_start(form, {'attr': {'id': 'form_shared_document', 'novalidate': 'novalidate'}}) }}
                        <div class="col-lg-4 col-lg-offset-2">

                            {{ form_row(form.nombreArchivo) }}
                            {{ form_row(form.idiomaArchivo) }}

                        </div>
                        <div class="col-lg-4">
                            {{ form_row(form.carreraArchivo) }}
                            {{ form_row(form.cursoArchivo) }}
                            {{ form_row(form.cuatrimestreArchivo) }}
                            {{ form_row(form.asignaturaArchivo) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <hr/>
                            <a href="{{ path('apuntes_index') }}" class="btn btn-primary">Cancel</a>
                            <input type="submit" class="btn btn-success" value="Upload"/>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_javascript %}
<script>
  $("#form_shared_document").validate({
    rules: {
      'apuntes[nombreArchivo]': {required: true, extension: "pdf"},
      'apuntes[idiomaArchivo]': {required: true,},
      'apuntes[carreraArchivo]': {required: true,},
      'apuntes[cursoArchivo]': {required: true, min:1, max:4},
      'apuntes[cuatrimestreArchivo]': {required: true,},
      'apuntes[asignaturaArchivo]': {required: true,},
    },
  });
</script>
{% endblock %}
