{% extends 'base.html.twig' %}

{% block tab_title %} Shared resources {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block breadcrumb %}
    <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
        <a href="{{ path('apuntes_index') }}" class="btn btn-default">List of documents</a>
        <a class="btn btn-default active">Document information</a>
    </div>
{% endblock %}

{% block page_content %}
    <div class="row">
        {% include 'ApuntesBundle:apuntes:modal.html.twig' %}
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        <i class="fa fa-file-pdf-o"></i> Shared resource details
                    </h2>
                    <div class="pull-right">
                        <button class="btn btn-warning" type="button" data-toggle="modal"
                                data-target="#modal_apuntes_show"><i
                                    class="fa fa-info"></i> Info
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <table>
                                <tbody>
                                <tr>
                                    <th>File name</th>
                                    <td> {{ apunte.nombreOriginal }}</td>
                                </tr>
                                <tr>
                                    <th>Language</th>
                                    <td>{{ apunte.idiomaArchivo }}</td>
                                </tr>
                                <tr>
                                    <th>Career</th>
                                    <td>{{ apunte.carreraArchivo }}</td>
                                </tr>
                                <tr>
                                    <th>Course</th>
                                    <td>{{ apunte.cursoArchivo ~ '-' ~ apunte.cuatrimestreArchivo }}</td>
                                </tr>
                                <tr>
                                    <th>Subject</th>
                                    <td>{{ apunte.asignaturaArchivo }}</td>
                                </tr>
                                <tr>
                                    <th>Publication date &nbsp;&nbsp;</th>
                                    <td>{% if apunte.fechaSubida %}{{ apunte.fechaSubida|date('Y-m-d H:i:s') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Owner</th>
                                    <td>{{ apunte.usuario.nombre ~ ' ' ~ apunte.usuario.apellido }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </br>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <hr/>
                            {% if app.user == apunte.usuario or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('apuntes_edit', { 'id': apunte.id }) }}"
                                   class="btn btn-warning">Edit</a>
                                <a href="{{ path('apuntes_delete_confirm', {'id': apunte.id}) }}" class="btn btn-danger"
                                   type="button"><i class="fa fa-trash"></i> Delete document</a>
                            {% endif %}
                            <a href="{{ asset('/web/uploads/apuntes/' ~ apunte.nombreArchivo) }}" target="_blank"
                               class="btn btn-info"><span class="fa fa-search"> </span> See the document (PDF)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
