<!-- Modal para información de la página -->
<div id="estudio_modal_info" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel2">Information about Studies</h4>
      </div>
      <div class="modal-body">
        <p class="text-justify"><b>What is a Study?</b>
          <br>A study is an entity that represents a degree from a university.
        </p>
        <p class="text-justify"><b>What studies should I register?</b>
          <br>You should record the most common studies in the European framework and at least those that are taught
                     In the EPSA as these studies will be used in various applications such as: tandem,
                     Universities, experiences ... So it is very important that they are correct and always up to date.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- ./ Modal para información de la página -->