<!-- Modal para información de la página -->
<div id="idioma_modal_info" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel2">Language Information</h4>
      </div>
      <div class="modal-body">
        <p class="text-justify"><b>¿Qué es un Idioma?</b>
          <br>A language is an academically valid and approved degree that guarantees a certain ability of a language.
        </p>
        <p class="text-justify"><b>What languages should I register?</b>
          <br>You should register the most common words in the European framework and at least those that are taught
                     In the EPSA since these languages will be used in the diverse applications such as: tandem,
                     Universities, experiences ... So it is very important that they are correct and always up to date.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- ./ Modal para información de la página -->