{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block tab_title %} Languages {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
  <div class="row">
    {% include '@EstudiosIdiomas/idioma/idiomas_modal_info.html.twig' %}
    <!-- Formulario Idiomas -->
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-book"></i> <a href="{{ path('idioma_new') }}"> Languages </a>
            <small>{{ action_label }}</small>
          </h2>
          <div class="pull-right">
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#idioma_modal_info"><i
                  class="fa fa-info"></i> Info
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          {{ form_start(form) }}

          {{ form_widget(form) }}

          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="text-right">
              <a href="{{ path('idioma_new') }}" class="btn btn-default">Cancel</a>
              {% if action == 'edit' %}
                <a href="{{ path('idioma_delete_confirm', {'id': idioma.id}) }}" class="btn btn-danger">Delete</a>
              {% endif %}
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
    <!-- ./ Formulario Idiomas -->
    <!-- Listado Idiomas -->
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-book"></i> Languages
          </h2>
          <div class="pull-right">
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#idioma_modal_info"><i
                  class="fa fa-info"></i> Info
            </button>
            <a href="{{ path('idioma_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> New</a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="tabla_idiomas" class="table table-striped table-bordered dt-responsive nowrap datatable-responsive"
                 cellspacing="0" width="100%">
            <thead>
            <tr>
              <th width="80%">Language</th>
              <th data-sortable="false" width="20%">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for idioma in idiomas %}
              <tr>
                <td>{{ idioma.idioma }}</td>
                <td class="text-center">
                  <a href="{{ path('idioma_edit', {'id': idioma.id}) }}" class="btn btn-info btn-xs" type="button"><i
                        class="fa fa-pencil"></i> edit</a>
                  <a href="{{ path('idioma_delete_confirm', {'id': idioma.id}) }}" class="btn btn-danger btn-xs"
                     type="button"><i class="fa fa-trash"></i> Delete</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- ./ Listado Idiomas -->
  </div>
{% endblock %}


