{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block tab_title %} Users {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block breadcrumb %}
  <div class="btn-group btn-breadcrumb">
    <a href="{{ path('usuarios_index') }}" class="btn btn-default"><i class="fa fa-users"></i> Users</a>
  </div>
{% endblock %}

{% block page_content %}
  <div class="row">
    {% include ':usuarios:modal_info.html.twig' %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-user"></i> {{ usuario.nombre }} - {{ usuario.apellido }}
          </h2>
          <div class="pull-right">
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#experiencia_modal_info"><i
                  class="fa fa-info"></i> Info
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          {{ form_start(form) }}
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group col-lg-6">
                <label>Email:</label>
                <input type="text" class="form-control" readonly value="{{ usuario.email }}">
              </div>
              <div class="form-group col-lg-6">
                <label>Username:</label>
                <input type="text" class="form-control" readonly value="{{ usuario.username }}">
              </div>

              <div class="form-group col-lg-6">
                <label>Name:</label>
                <input type="text" class="form-control" readonly value="{{ usuario.nombre }}">
              </div>

              <div class="form-group col-lg-6">
                <label>Surname:</label>
                <input type="text" class="form-control" readonly value="{{ usuario.apellido }}">
              </div>

              <div class="form-group col-lg-6">
                <label>Phone:</label>
                <input type="text" class="form-control" readonly value="{{ usuario.telefono }}">
              </div>

              <div class="form-group col-lg-6">
                <label>Type:</label>
                <input type="text" class="form-control" readonly value="{{ usuario.procedenciaUsuario }}">
              </div>

              <div class="form-group col-lg-6">
                <label>Register date:</label>
                <input type="text" class="form-control" readonly value="{{ usuario.fechaRegistro | date }}">
              </div>

              <div class="form-group col-lg-6">
                <label>Sex:</label>
                <input type="text" class="form-control" readonly value="{{ usuario.sexo }}">
              </div>

              <div class="form-group col-lg-6">
                <label>Status:</label>
                {{ form_row(form.enabled) }}
              </div>

              <div class="form-group col-lg-6">
                {{ form_row(form.role) }}
              </div>

            </div>

            <div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 col-xs-12">
              <div class="col-lg-12 text-right">
                <div class="ln_solid"></div>
                <div class="form-group text-center">
                  <a href="{{ path('usuarios_index') }}" class="btn btn-default">Cancel</a>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>
            </div>
          </div>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}