{% extends '::base.html.twig' %}

{% block tab_title %} Users {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block breadcrumb %}
  <div class="btn-group btn-breadcrumb">
    <a href="{{ path('usuarios_index') }}" class="btn btn-default"><i class="fa fa-users"></i> Users</a>
  </div>
{% endblock %}

{% block page_content %}
  <div class="row">
    {% include ':usuarios:modal_info.html.twig' %}
    <!-- Listado Usuarios -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-users"></i> Users
          </h2>
          <div class="pull-right">
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="tabla_usuarios"
                 class="table table-striped table-bordered dt-responsive nowrap datatable-responsive" cellspacing="0"
                 width="100%">
            <thead>
            <tr>
              <th>Username</th>
              <th>Name</th>
              <th>Email</th>
              <th>Status</th>
              <th>Role</th>
              <th>Register</th>
              <th data-sortable="false">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for usuario in usuarios %}
              <tr class="{% if not usuario.enabled %}danger{% endif %}">
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.enabled ? 'Activo':'Bloqueado' }}</td>
                <td>{{ usuario.roles | join(', ') }}</td>
                <td>{{ usuario.fechaRegistro | date('d-M-Y') }}</td>
                <td>
                  <a href="{{ path('usuarios_edit', {'id': usuario.id}) }}" class="btn btn-info btn-xs"
                     type="button"><i class="fa fa-user"></i> Edit</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- ./ Listado Usuarios -->
  </div>
{% endblock %}