{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block tab_title %} Erasmus experiences {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block breadcrumb %}
  <div class="btn-group btn-breadcrumb">
    <a href="{{ path('admin_experiencia_index') }}" class="btn btn-default"><i class="fa fa-camera"></i> Erasmus experiences</a>
    <a class="btn btn-default active">{{ action_label }}</a>
  </div>
{% endblock %}

{% block page_content %}
  <div class="row">
    {% include '@Experiencias/admin_experiencia/modal_info.html.twig' %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-camera"></i> {{ action_label }} Erasmus experience
            {% if action == 'edit' %}: {{ experiencia.universidad }}{% endif %}
          </h2>
          <div class="pull-right">
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#experiencia_modal_info"><i
                  class="fa fa-info"></i> Info
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          {{ form_start(form) }}
            <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
              <img src="{{ asset('uploads/experiencias/' ~ experiencia.imagen) }}" class="img-responsive">
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label>University:</label>
                <input type="text" class="form-control" readonly value="{{ experiencia.universidad }}">
              </div>
              <div class="form-group">
                <label>Study:</label>
                <input type="text" class="form-control" readonly value="{{ experiencia.estudio }}">
              </div>

              <div class="form-group col-lg-6">
                <label>Language:</label>
                <input type="text" class="form-control" readonly value="{{ experiencia.idioma }}">
              </div>

              <div class="form-group col-lg-6">
                <label>Status:</label>
                {{ form_row(form.estado) }}
              </div>

            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label>Life comment:</label>
                <textarea class="form-control" readonly>{{ experiencia.comentarioVida }}</textarea>
              </div>

              <div class="form-group">
                <label>Study comment:</label>
                <textarea class="form-control" readonly>{{ experiencia.comentarioEstudios }}</textarea>
              </div>
              <div class="form-group col-lg-6">
                <label>Life:</label>
                <input type="text" class="form-control" readonly value="{{ experiencia.puntuacionVida }}">
              </div>
              <div class="form-group col-lg-6">
                <label>Studies:</label>
                <input type="text" class="form-control" readonly value="{{ experiencia.puntuacionEstudios }}">
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="col-lg-12 text-right">
                <div class="ln_solid"></div>
                <div class="form-group text-center">
                  <a href="{{ path('admin_experiencia_index') }}" class="btn btn-default">Cancel</a>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>
            </div>
          </div>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
