{% extends '::base.html.twig' %}

{% block tab_title %} Erasmus experiences {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block breadcrumb %}
  <div class="btn-group btn-breadcrumb">
    <a href="{{ path('experiencia_index') }}" class="btn btn-default"><i class="fa fa-camera"></i> Erasmus experiences</a>
  </div>
{% endblock %}

{% block page_content %}
  <div class="row">
    {% include '@Experiencias/admin_experiencia/modal_info.html.twig' %}
    <!-- Listado Experiencias -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-camera"></i> Erasmus experiences
          </h2>
          <div class="pull-right">
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#admin_experiencia_modal_info"><i
                  class="fa fa-info"></i> Info
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="tabla_experiencias"
                 class="table table-striped table-bordered dt-responsive nowrap datatable-responsive "
                 cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>Usuario</th>
              <th>University</th>
              <th>Image</th>
              <th>Study comment</th>
              <th>Life comment</th>
              <th data-sortable="false">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for experiencia in experiencias %}
              <tr class="{% if experiencia.estado %} success {% else %} danger {% endif %}">
                <td>{{ experiencia.usuario.nombre }}</td>
                <td>{{ experiencia.universidad }}</td>
                <td>{{ experiencia.imagen }}</td>
                <td>{{ experiencia.comentarioEstudios }}</td>
                <td>{{ experiencia.comentarioVida }}</td>
                <td>
                  <a href="{{ path('admin_experiencia_edit', { 'id': experiencia.id }) }}" class="btn btn-info btn-xs"
                     type="button"><i class="fa fa-pencil"></i> Edit</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- ./ Listado Experiencias -->
  </div>
{% endblock %}