<!-- Modal para información de la página -->
<div id="admin_experiencia_modal_info" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel2">Información sobre Experiencias</h4>
      </div>
      <div class="modal-body">
        <p class="text-justify"><b>¿Qué idiomas debo registrar?</b>
          <br>Deberías registrar los idiomas más comunes siguiendo el estándard de nivelación: a1, a2, b1, b2, c1, c2.
        </p>
        <p class="text-justify"><b>¿Tengo unos certificados distintos?</b>
          <br>Puede ser que en ocasiones te encuentres con títulos de otras escuelas o entidades, por lo que deberás
          encontrar tablas de equivalencia para ajustarte a la numeración anteriormente descrita.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- ./ Modal para información de la página -->