{% extends '::base.html.twig' %}

{% block tab_title %} Profile {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-"></i> Profile
          </h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="col-lg-4 col-lg-offset-4 col-md-12 col-sm-12 col-xs-12">
            {{ include('@FOSUser/Profile/show_content.html.twig') }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
