{% extends '::base.html.twig' %}

{% block tab_title %} Erasmus experiences {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block breadcrumb %}
  <div class="btn-group btn-breadcrumb">
    <a href="{{ path('experiencia_index') }}" class="btn btn-default"><i class="fa fa-camera"></i> Erasmus experiences</a>
    <a class="btn btn-default active">{{ action_label }}</a>
  </div>
{% endblock %}

{% block page_content %}
  <div class="row">
    {% include '@Experiencias/experiencia/modal_info.html.twig' %}
    <!-- Confirmación eliminación Experiencia -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-camera"></i> {{ action_label }} Experience: {{ experiencia.universidad }}
          </h2>
          <div class="pull-right">
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#experiencia_modal_info"><i
                  class="fa fa-info"></i> Info
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3>Atention!</h3>
              <p>
                It will proceed to eliminate the experience: {{ experiencia.usuario }} - {{ experiencia.universidad }}
              </p>
            </div>
            <div class="panel-body">
              <div class="pull-right">
                <a href="{{ path('experiencia_index') }}" class="btn btn-default">Cancel</a>
                <a href="{{ path('experiencia_delete', { 'id': experiencia.id }) }}" class="btn btn-danger">Delete</a>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./ Confirmación eliminación Universidad -->
  </div>
{% endblock %}