<!-- Modal para información de la página -->
<div id="experiencia_modal_info" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel2">Erasmus experiences</h4>
      </div>
      <div class="modal-body">
        <p class="text-justify"><b>What are erasmus experiences?</b>
          <br>Erasmus experiences are comments that students of the University shares with the rest of colleagues
          about their experience as Erasmus.
        </p>
        <p class="text-justify"><b>What are they for?</b>
          <br>They serve to offer you a closer view of your future Erasmus trip.
        </p>
        <p class="text-justify"><b>How can I post my experience?</b>
          <br>You must be registered on the platform. Once registered you will be able to publish your experiences, but
          remember, all the experiences must be approved by a technician, who will decide its publication, based on the
          content of the same.
        </p>
        <p class="text-justify"><b>What can I publish?</b>
          <br>You can post a photo of your experience, and information that will be useful to your colleagues. But
          remember, the use of nasty words is totally forbidden.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- ./ Modal para información de la página -->