{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block tab_title %} Erasmus experiences {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block breadcrumb %}
  <div class="btn-group btn-breadcrumb">
    <a href="{{ path('experiencia_index') }}" class="btn btn-default"><i class="fa fa-camera"></i> Erasmus experiences</a>
    <a class="btn btn-default active">{{ action_label }}</a>
  </div>
{% endblock %}

{% block page_content %}
  <div class="row">
    {% include '@Experiencias/experiencia/modal_info.html.twig' %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-camera"></i> {{ action_label }} Experience
            {% if action == 'edit' %}: {{ experiencia.universidad }}{% endif %}
          </h2>
          <div class="pull-right">
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#experiencia_modal_info"><i
                  class="fa fa-info"></i> Info
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 col-lg-offset-3">
              {{ form_start(form) }}
              <div class="col-lg-12">
                {{ form_row(form.imagen) }}
                <div class="help-block">Image representative of your stay.</div>
              </div>
              <div class="col-lg-12">
                {{ form_row(form.universidad) }}
                <div class="help-block">University where you have taken your Erasmus stay.
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ form_row(form.estudio) }}
                <div class="help-block">Studies carried out during your Erasmus stay.</div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ form_row(form.idioma) }}
                <div class="help-block">Language and level of the same one where you developed your Erasmus stay.</div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ form_row(form.comentarioEstudios) }}
                <div class="help-block">Comment on the level of studies, university or other observations.</div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ form_row(form.comentarioVida) }}
                <div class="help-block">Comment on the standard of living, rentals, restaurants ...</div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ form_row(form.puntuacionEstudios) }}
                <div class="help-block">Score between 0-5.</div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ form_row(form.puntuacionVida) }}
                <div class="help-block">Score between 0-5.</div>
              </div>
              <div class="col-lg-12 text-right">
                <div class="ln_solid"></div>
                <div class="form-group text-center">
                  <a href="{{ path('experiencia_index') }}" class="btn btn-default">Cancel</a>
                  {% if action == 'edit' %}
                    <a href="{{ path('experiencia_delete_confirm', {'id': experiencia.id}) }}" class="btn btn-danger">Delete</a>
                  {% endif %}
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>
              {{ form_end(form) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
