{% extends '::base.html.twig' %}

{% block tab_title %} Erasmus experiences {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block breadcrumb %}
  <div class="btn-group btn-breadcrumb">
    <a href="{{ path('experiencia_index') }}" class="btn btn-default"><i class="fa fa-camera"></i> Erasmus experiences</a>
  </div>
{% endblock %}

{% block page_content %}
  <div class="row">
    {% include '@Experiencias/experiencia/modal_info.html.twig' %}
    <!-- Listado Experiencias -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-camera"></i> Erasmus experiences
          </h2>
          <div class="pull-right">
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#experiencia_modal_info">
              <i class="fa fa-info"></i> Info
            </button>
            {% if is_granted('ROLE_USER') %}
              <a class="btn btn-primary" href="{{ path('experiencia_new') }}"><i class="fa fa-plus"></i> New</a>
            {% endif %}
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-12 col-sm-12 col-xs-12">
              <form action="{{ path('experiencia_index') }}" method="get">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for..." name="query" id="query"
                         value="{{ query }}">
                  <span class="input-group-btn"><button class="btn btn-default" type="submit">Go!</button></span>
                </div>
              </form>
            </div>
          </div>
          {% for experiencia in experiencias %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="thumbnail experiencias">
                <div class="image view view-first">
                  <img style="width: 100%; display: block;"
                       src="{{ asset('uploads/experiencias/' ~ experiencia.imagen) }}" alt=" image"/>
                  <div class="mask">
                    <p>{{ experiencia.universidad }}</p>
                    <div class="tools tools-bottom">
                      <a href="{{ path('experiencia_show', {'id': experiencia.id}) }}"><i class="fa fa-link"></i></a>
                      <a href="#"><i class="fa fa-thumbs-up"></i></a>
                      <a href="#"><i class="fa fa-thumbs-down"></i></a>
                    </div>
                  </div>
                </div>
                <div class="caption">
                  <p>{{ experiencia.usuario.nombre }}</p>
                </div>
                <div class="content">
                  <p><i class="fa fa-university"></i> {{ experiencia.universidad }}</p>
                  <p><i class="fa fa-book"></i> {{ experiencia.estudio }}</p>
                  <p><i class="fa fa-flag"></i> {{ experiencia.idioma }}</p>
                  <p><b>Study level</b>:
                    {% for i in 0..experiencia.puntuacionEstudios %}
                      <i class="fa fa-star" aria-hidden="true"></i>
                    {% endfor %}
                  </p>
                  <p>{{ experiencia.comentarioEstudios }}</p>
                  <p><b>Standard of living</b>:
                    {% for i in 0..experiencia.puntuacionVida %}
                      <i class="fa fa-star" aria-hidden="true"></i>
                    {% endfor %}
                  </p>
                  <p>{{ experiencia.comentarioVida }}</p>
                </div>
                <div class="footer">
                  <a href="{{ path('experiencia_show', {'id': experiencia.id}) }}" class="btn btn-primary btn-block center-block">View</a>
                  {% if is_granted('ROLE_USER') and app.user == experiencia.usuario %}
                    <a class="btn green btn-block center-block"
                       href="{{ path('experiencia_edit', {'id': experiencia.id}) }}">
                      <i class="fa fa-edit"></i> Edit
                    </a>
                    <a class="btn btn-danger btn-block center-block"
                       href="{{ path('experiencia_delete_confirm', {'id': experiencia.id}) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- ./ Listado Experiencias -->
  </div>
{% endblock %}

{% block custom_javascript %}
  <script>
      $('#tabla_experiencias').dataTable({
          "paging": true,
          "searching": true,
          "info": true
      });
  </script>
{% endblock %}