{% extends '::base.html.twig' %}

{% block tab_title %} Erasmus experiences {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block breadcrumb %}
  <div class="btn-group btn-breadcrumb">
    <a href="{{ path('experiencia_index') }}" class="btn btn-default"><i class="fa fa-camera"></i> Erasmus experiences</a>
    <a class="btn btn-default active">{{ action_label }}</a>
  </div>
{% endblock %}

{% block page_content %}
  <div class="row">
    {% include '@Experiencias/experiencia/modal_info.html.twig' %}
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-camera"></i> Experience: {{ experiencia.universidad }}
          </h2>
          <div class="pull-right">
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#experiencia_modal_info"><i
                  class="fa fa-info"></i> Info
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="product-image">
              <img src="{{ asset('uploads/experiencias/' ~ experiencia.imagen) }}" class="img img-responsive"/>
            </div>
          </div>

          <div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5;">

            <h3 class="prod_title">
              <i class="fa fa-user"></i> {{ experiencia.usuario.nombre }} - {{ experiencia.usuario.apellido }}
            </h3>

            <p><i class="fa fa-university"></i> <b>University:</b> {{ experiencia.universidad }}</p>
            <p><i class="fa fa-book"></i> <b>Study:</b> {{ experiencia.estudio }}</p>
            <p><i class="fa fa-flag"></i> <b>Language:</b> {{ experiencia.idioma }}</p>

            <div class="">
              <h2>Study Information</h2>
              <p>{{ experiencia.comentarioEstudios }}</p>
              {% for i in 0..experiencia.puntuacionEstudios %}
                <i class="fa fa-star" aria-hidden="true"></i>
              {% endfor %}
            </div>

            <div class="">
              <h2>Life Information</h2>
              <p>{{ experiencia.comentarioVida }}</p>
              {% for i in 0..experiencia.puntuacionVida %}
                <i class="fa fa-star" aria-hidden="true"></i>
              {% endfor %}
            </div>

            <br/>

            <div class="">
              <div class="product_price" style="text-align: center;">
                <h1 class="price">8/10</h1>
                <span class="price-tax">Students Rating</span>
                <br>
                <a href="#" class="btn btn-default"><i class="fa fa-thumbs-up"></i></a>
                <a href="#" class="btn btn-default"><i class="fa fa-thumbs-down"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}