{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block tab_title %} Mailing {% endblock %}

{% block page_header_title %}
  <i class="fa fa-send-o"></i> <a href=""> Mailing </a>
{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
  <div class="row">
    {% include '@Universidades/mailing/modal_info.html.twig' %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-send-o"></i> New Mailing
          </h2>
          <div class="pull-right">
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#mailing_modal_info"><i
                  class="fa fa-info"></i> Info
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 col-lg-offset-3">
              {{ form_start(form) }}
              {{ form_widget(form) }}
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="text-right">
                  <a href="{{ path('dashboard_dashboard') }}" class="btn btn-default">Cancel</a>
                  <button type="submit" class="btn btn-primary">Send</button>
                </div>
              </div>
              {{ form_end(form) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
