{% extends 'base.html.twig' %}
{% block tab_title %} Tickets {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block breadcrumb %}
    <div class="btn-group btn-breadcrumb">
        <a href="{{ path('homepage') }}" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
        <a class="btn btn-default active">Reported issues</a>
    </div>
{% endblock %}

{% block page_content %}
    <div class="row">
        {% include 'TicketsBundle:admin_tickets:modal.html.twig' %}
        <!-- Listado Tickets de un usuario -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        <i class="fa fa-ticket"></i> Tickets
                    </h2>
                    <!--MOSTRAR A USUARIO Y NO A ADMIN -->
                    {% if (is_granted('ROLE_USER')) and (is_granted('ROLE_ADMIN') == false) %}
                        <div class="pull-right">
                            <button class="btn btn-warning" type="button" data-toggle="modal"
                                    data-target="#modal_ticket_index"><i
                                        class="fa fa-info"></i> Info
                            </button>
                            <a href="{{ path('ticket_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Report
                                new
                                issue</a>
                        </div>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!--Tabla de tickets-->
                            <table id=""
                                   class="table table-striped table-bordered dt-responsive nowrap datatable-responsive"
                                   cellspacing="0"
                                   width="100%">
                                <thead>
                                <tr>
                                    <th>Ticket status</th>
                                    <th>Title</th>
                                    <th>Section</th>
                                    <th>Creation date</th>
                                    <th>Resolution date</th>
                                    <th>Resolved by</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ticket in tickets %}
                                    {% if (ticket.usuario == app.user) or is_granted('ROLE_ADMIN') %}
                                        <tr class="">
                                            <td>
                                                {% if ticket.estadoTicket == 'Pending' %}
                                                    <i class="fa fa-eye"
                                                       style="font-size: 12pt;"></i> {{ ticket.estadoticket }}
                                                {% elseif ticket.estadoTicket == 'Rejected' %}
                                                    <i class="fa fa-times-circle-o"
                                                       style="color: red; font-size: 12pt;"></i> {{ ticket.estadoticket }}
                                                {% else %}
                                                    <i class="fa fa-check-circle-o"
                                                       style="color: green; font-size: 12pt;"></i> {{ ticket.estadoTicket }}

                                                {% endif %}
                                            </td>
                                            <td>{{ ticket.titulo }}</td>
                                            <td>{{ ticket.apartado }}</td>
                                            <td>{% if ticket.fechacreacion %}{{ ticket.fechacreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td>{% if ticket.fechaResolucion == null %}
                                                    Not resolved
                                                {% else %}
                                                    {% if ticket.fecharesolucion %}{{ ticket.fecharesolucion|date('Y-m-d H:i:s') }}{% endif %}
                                                {% endif %}
                                            </td>
                                            <td>{% if ticket.usuarioresolucion == null %}
                                                    No administrator assigned
                                                {% else %}
                                                    {{ ticket.usuarioResolucion }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{{ path('admin_ticket_show', { 'id': ticket.id }) }}"
                                                   class="btn btn-info btn-xs"
                                                   type="button"><i class="fa fa-pencil"></i> Show2</a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
