<!-- Modal para información del index de tickets -->
<div id="modal_ticket_index" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Information about created tickets</h4>
            </div>
            <div class="modal-body">
                <p class="text-justify"><b>What I am seeing here?</b>
                    <br>Here you can see all your reported issues, solved or not.
                </p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- Fin modal para información del listado de tickets -->

<!-- Modal para información de nuevo ticket -->
<div id="modal_ticket_new" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Information about reporting a new issue</h4>
            </div>
            <div class="modal-body">
                <p class="text-justify"><b>Why should I report a new issue?</b>
                    <br>You should report a new issue when you found some kind of problem in any section of the wen application.
                </p>
                <p class="text-justify"><b>When my ticket will be solved?</b>
                    <br>After you create a new ticket, an administrador will fix your problem in the next few days. You will be notified with the resolution.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- Fin modal para información de nuevo ticket -->

<!-- Modal para información de mostrar ticket -->
<div id="modal_ticket_show" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Information about reported issue</h4>
            </div>
            <div class="modal-body">
                <p class="text-justify"><b>What I am seeing here?</b>
                    <br>Here you can see a detailed information about your reported issue.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- Fin modal para información de mostrar ticket -->