<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

  {# Bloque que se utiliza para definir el nombre en la pestaña del navegador #}
  <title>EPSA Internacional | {% block tab_title %}{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ asset ('public/css/bootstrap.min.css') }}" rel="stylesheet">

  <link href="{{ asset ('public/fonts/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ asset ('public/css/animate.min.css') }}" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="{{ asset ('public/css/icheck/flat/green.css') }}" rel="stylesheet">

  <!-- Datatables -->
  <link href="{{ asset ('public/js/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ asset ('public/js/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ asset ('public/js/datatables/fixedHeader.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ asset ('public/js/datatables/responsive.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ asset ('public/js/datatables/scroller.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>

  <!-- Font awesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        type="text/css"/>

  <!-- Jquery - JvectorMap -->
  <link rel="stylesheet" type="text/css" href="{{ asset('public/css/maps/jquery-jvectormap-2.0.3.css') }}"/>

  <!-- CSS Personalizados -->
  <link href="{{ asset ('public/css/custom.css') }}" rel="stylesheet">
  <link href="{{ asset ('public/css/personalizacion.css') }}" rel="stylesheet">



  <!-- CSS Personalizados por página -->
  {% block custom_css %}{% endblock %}

  <script src="{{ asset ('public/js/jquery.min.js') }}"></script>

  <!--[if lt IE 9]>
  <script src="public/js/ie8-responsive-file-warning.js"></script>
  <![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Javascript Personalizado por página con carga en la cabecera -->
  {% block header_javascript %}{% endblock %}

</head>

<body class="nav-md">
<div class="container body">

  <div class="main_container">
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a href="{{ path('homepage_locale') }}" class="site_title"><img src="{{ asset('public/images/logo_epsa_2.jpg') }}" class="img" width="45px" height="45px"/> <span>International</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
          <div class="profile_info">
            {% if app.user %}
              <span>Welcome,</span>
              <h2>{{ app.user.nombre ~ ' ' ~ app.user.apellido }}</h2>
            {% endif %}
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- /menu profile quick info -->

        <!-- sidebar menu and menu footer buttons -->
        {% include 'sidebar.html.twig' %}
        <!-- ./ sidebar menu and menu footer buttons -->
      </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
      <div class="nav_menu">
        <nav class="" role="navigation">
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            {# Fichero que incluye la barra de navegación superior #}
            {% include 'topbar.html.twig' %}
            {# Bloque que incluirá las notificaciones en cada página #}
            {#{% include 'notification.html.twig' %}#}
          </ul>
        </nav>
      </div>

    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>
              {% block page_header_title %}{% endblock %}
            </h3>
          </div>

          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              {% block page_header_search %}
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                </div>
              {% endblock %}
            </div>
          </div>
        </div>
        <div class="clearfix"></div>

        <!-- Alerts de las vistas -->
        {% for flashMessage in app.session.flashbag.get('notice') %}
          <div class="row">
            <div class="col-lg-12">
              <ul class="messages">
                <div class="alert alert-{{ flashMessage.alert }} alert-dismissable" id="success-alert">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <i class="fa fa-info-circle"></i> <strong>{{ flashMessage.title }}</strong> {{ flashMessage.message }}
                </div>
              </ul>
            </div>
          </div>
        {% endfor %}
        <!-- ./ Alerts -->

        {% block breadcrumb %}{% endblock %}

        {% block page_content %}{% endblock %}

      </div>

    </div>
    <!-- /page content -->

    <!-- footer content -->
    <footer>
      <div class="pull-right">
        <a href="{{ path('about_us') }}">Developed by </a>
      </div>
      <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
  </div>

</div>

<script src="{{ asset('public/js/bootstrap.min.js') }}"></script>

<!-- bootstrap progress js -->
<script src="{{ asset('public/js/progressbar/bootstrap-progressbar.min.js') }}"></script>
<script src="{{ asset('public/js/nicescroll/jquery.nicescroll.min.js') }}"></script>
<!-- icheck -->
<script src="{{ asset('public/js/icheck/icheck.min.js') }}"></script>

<script src="{{ asset('public/js/custom.js') }}"></script>

<!-- Datatables -->
<script src="{{ asset('public/js/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('public/js/datatables/dataTables.bootstrap.js') }}"></script>
<script src="{{ asset('public/js/datatables/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('public/js/datatables/buttons.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/js/datatables/jszip.min.j') }}s"></script>
<script src="{{ asset('public/js/datatables/pdfmake.min.js') }}"></script>
<script src="{{ asset('public/js/datatables/vfs_fonts.js') }}"></script>
<script src="{{ asset('public/js/datatables/buttons.html5.min.js') }}"></script>
<script src="{{ asset('public/js/datatables/buttons.print.min.js') }}"></script>
<script src="{{ asset('public/js/datatables/dataTables.fixedHeader.min.js') }}"></script>
<script src="{{ asset('public/js/datatables/dataTables.keyTable.min.js') }}"></script>
<script src="{{ asset('public/js/datatables/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('public/js/datatables/responsive.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/js/datatables/dataTables.scroller.min.js') }}"></script>

<!-- JQuery - JVectormaps -->
<script type="text/javascript" src="{{ asset('public/js/maps/jquery-jvectormap-2.0.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('public/js/maps/gdp-data.js') }}"></script>
<script type="text/javascript" src="{{ asset('public/js/maps/jquery-jvectormap-europe-mill.js') }}"></script>

<!-- Jquery Validator -->
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.datatable-responsive').DataTable();
    });

    // override jquery validate plugin defaults
    $.validator.setDefaults({
      highlight: function(element) {
        $(element).closest('.form-group').addClass('has-error');
      },
      unhighlight: function(element) {
        $(element).closest('.form-group').removeClass('has-error');
      },
      errorElement: 'span',
      errorClass: 'help-block',
      errorPlacement: function(error, element) {
        if(element.parent('.input-group').length) {
          error.insertAfter(element.parent());
        } else {
          error.insertAfter(element);
        }
      }
    });
</script>

<!-- pace -->
<script src="{{ asset('public/js/pace/pace.min.js') }}"></script>

<!-- form validation -->
<script type="text/javascript" src="{{ asset('public/js/parsley/parsley.min.js') }}"></script>

<!-- Custom Javascript -->
{% block custom_javascript %}{% endblock %}

</body>

</html>
