<!-- Notificaciones superiores tanto para administradores como para usuarios -->
<li role="presentation" class="dropdown">
  <a href="#" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-envelope-o"></i>
    <span class="badge bg-green">1</span>
  </a>
  <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
    <li>
      <a>
        <span class="image"> <img src="{{ asset('public/images/img.jpg') }}" alt="Profile Image"/></span>
        <span>
                      <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                    </span>
        <span class="message">Film festivals used to be do-or-die movie makers. They were where...</span>
      </a>
    </li>
    <li>
      <div class="text-center">
        <a><strong>See All Alerts</strong><i class="fa fa-angle-right"></i></a>
      </div>
    </li>
  </ul>
</li>
<li role="presentation" class="dropdown">
  <a href="#" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-comments-o"></i>
    <span class="badge bg-green">1</span>
  </a>
  <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
    <li>
      <a>
        <span class="image"> <img src="{{ asset('public/images/img.jpg') }}" alt="Profile Image"/></span>
        <span>
                      <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                    </span>
        <span class="message">Film festivals used to be do-or-die movie makers. They were where...</span>
      </a>
    </li>
    <li>
      <div class="text-center">
        <a><strong>See All Alerts</strong><i class="fa fa-angle-right"></i></a>
      </div>
    </li>
  </ul>
</li>
<li role="presentation" class="dropdown">
  <a href="#" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-camera"></i>
    <span class="badge bg-green">1</span>
  </a>
  <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
    <li>
      <a>
        <span class="image"> <img src="{{ asset('public/images/img.jpg') }}" alt="Profile Image"/></span>
        <span>
                      <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                    </span>
        <span class="message">Film festivals used to be do-or-die movie makers. They were where...</span>
      </a>
    </li>
    <li>
      <div class="text-center">
        <a><strong>See All Alerts</strong><i class="fa fa-angle-right"></i></a>
      </div>
    </li>
  </ul>
</li>
<li role="presentation" class="dropdown">
  <a href="#" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-users"></i>
    <span class="badge bg-green">1</span>
  </a>
  <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
    <li>
      <a>
        <span class="image"> <img src="{{ asset('public/images/img.jpg') }}" alt="Profile Image"/></span>
        <span>
                      <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                    </span>
        <span class="message">Film festivals used to be do-or-die movie makers. They were where...</span>
      </a>
    </li>
    <li>
      <div class="text-center">
        <a><strong>See All Alerts</strong><i class="fa fa-angle-right"></i></a>
      </div>
    </li>
  </ul>
</li>