<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

    {% if is_granted('ROLE_ADMIN') %}
        <div class="menu_section" style="margin-top:50px;">
            <h3>Admin Panel</h3>
            <ul class="nav side-menu">
                <li><a href="{{ path('dashboard_dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard </a></li>
                <li><a><i class="fa fa-briefcase"></i> Agreement <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li><a href="{{ path('universidad_index') }}">Universities</a></li>
                        <li><a href="{{ path('contacto_index') }}">Contacts</a></li>
                        <li><a href="{{ path('estudio_new') }}">Studies</a></li>
                        <li><a href="{{ path('idioma_new') }}">Languages</a></li>
                        <li><a href="{{ path('nivel_new') }}">Levels</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('mailing_send') }}"><i class="fa fa-envelope"></i> Mailings </a></li>
                <li><a href="{{ path('convocatoria_index') }}"><i class="fa fa-bullhorn"></i> Calls </a></li>
                <li><a href="{{ path('apuntes_index') }}"><i class="fa fa-folder-o"></i> Shared resources </a></li>
                <li><a href="{{ path('admin_ticket_index') }}"><i class="fa fa-ticket"></i> Reported issues </a></li>
                <li><a href="{{ path ('admin_tandem_index') }}"><i class="fa fa-comments-o"></i> Tandems </a></li>
                <li><a href="{{ path('admin_experiencia_index') }}"><i class="fa fa-camera"></i> Experiences </a></li>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li><a href="{{ path('usuarios_index') }}"><i class="fa fa-users"></i> Users </a></li>
                {% endif %}
            </ul>
        </div>
    {% elseif is_granted('ROLE_USER') %}
        <div class="menu_section" style="margin-top:50px;">
            <h3>General</h3>
            <ul class="nav side-menu">
                <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Home </a></li>
                <li><a href="{{ path ('tandem_index') }}"><i class="fa fa-comments-o"></i> Tandems </a></li>
                <li><a href="{{ path('destino_index') }}"><i class="fa fa-compass"></i> Erasmus destinations </a></li>
                <li><a href="{{ path('experiencia_index') }}"><i class="fa fa-camera"></i> Erasmus experiences </a></li>
                <li><a href="{{ path('apuntes_index') }}"><i class="fa fa-folder-o"></i> Notes </a></li>
                <li><a href="{{ path('ticket_index') }}"><i class="fa fa-ticket"></i> Report an issue </a></li>
            </ul>
        </div>
    {% else %}
        <div class="menu_section" style="margin-top:50px;">
            <h3>General</h3>
            <ul class="nav side-menu">
                <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Home </a></li>
                <li><a href="{{ path('destino_index') }}"><i class="fa fa-compass"></i> Erasmus destinations </a></li>
                <li><a href="{{ path('experiencia_index') }}"><i class="fa fa-camera"></i> Erasmus experiences </a></li>
            </ul>
        </div>
    {% endif %}

</div>
<!-- /sidebar menu -->

<!-- /menu footer buttons -->
<div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
</div>
<!-- /menu footer buttons -->