<!-- top navigation -->
{#<li class="">
  <a href="#" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-language"></i> Language
    <span class=" fa fa-angle-down"></span>
  </a>
  <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
    <li>
      {% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
      {% set es = '/es' ~ app.request.attributes.get('_route') %}
      {% if params is empty %}
      a
      {% else %}
        b
      {% endif %}
    </li>
    <li><a href="{{  path(app.request.attributes.get('_route'), {'_locale': 'es'}) }}">Spanish</a></li>
    <li><a href="{{  path(app.request.attributes.get('_route'), {'_locale': 'en'}) }}">English</a></li>
    <li><a href="{{  path(app.request.attributes.get('_route'), {'_locale': 'de'}) }}">German</a></li>
    <li><a href="{{  path(app.request.attributes.get('_route'), {'_locale': 'fr'}) }}">French</a></li>
  </ul>
</li>#}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
  <li class="">
    <a href="#" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <i class="fa fa-user"></i> {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
      <span class=" fa fa-angle-down"></span>
    </a>
    <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
      <li><a href="{{ path('fos_user_profile_edit') }}"> Profile</a></li>
      <li><a href="{{ path('fos_user_change_password') }}"> Change Password</a></li>
      <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
    </ul>
  </li>
{% else %}
  <li>
    <a href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in"></i> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
  </li>
  <li>
    <a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-pencil"></i> {{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
  </li>
{% endif %}
<!-- /top navigation -->