{% extends '::base.html.twig' %}

{% block tab_title %} About us {% endblock %}

{% block page_header_title %} About us {% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>Fermín Martínez Gombao</h3>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="{{ asset('public/images/fermin.jpg') }}" class="img img-responsive img-circle"/>
                        </div>
                        <div class="col-lg-4 col-md-4col-sm-12 col-xs-12">
                            <h4>Personal data:</h4>
                            <div style="margin-left: 20px">
                                <p><strong>Nombre: </strong>Fermín Martínez Gombao</p>
                                <p>Ingeniero Informático - Promoción 2013 - 2017</p>
                                <p><a href="https://www.fmgcode.es/" target="_blank">Sitio web</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>Román Bas Bas</h3>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="{{ asset('public/images/roman.jpg') }}" style="width: 82%"
                                 class="img img-responsive img-circle"/>
                        </div>
                        <div class="col-lg-4 col-md-4col-sm-12 col-xs-12">
                            <h4>Personal data:</h4>
                            <div style="margin-left: 20px">
                                <p><strong>Nombre: </strong>Román Bas Bas</p>
                                <p>Ingeniero Informático - Promoción 2013 - 2017</p>
                                <p><a href="https://www.romanbas.es/" target="_blank">Sitio web</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}