{% extends '::base.html.twig' %}

{% block tab_title %} Home {% endblock %}

{% block page_header_title %} Home {% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <blockquote class="blockquote-reverse">
                  <p>Desde el Área de Relaciones Internacionales de la Escuela Politécnica Superior de Alcoy queremos
                    darte la bienvenida al nuevo
                    portal de aplicaciones, dónde podrás encontrar aplicaciones que te facilitarán la obtención de
                    información de una forma más
                    sencilla y rápida.</p>
                  <footer>David Gutierrez Vañó <cite title="Source Title">International Office Coordinator</cite>
                  </footer>
                </blockquote>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <img src="{{ asset('public/images/david.png') }}" class="img-responsive" alt="Profile Image"/>
              </div>
            </div>
            <div class="clearfix"></div>
            <hr>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <!-- Tandems -->
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="pricing">
                  <div class="title">
                    <h1>Tandems</h1>
                    <h2>Encounters to improve your languages</h2>
                  </div>
                  <div class="x_content">
                    <div class="">
                      <div class="pricing_features">
                        <ul class="list-unstyled text-left">
                          <li><i class="fa fa-check text-success"></i> <strong>Meet new people</strong></li>
                          <li><i class="fa fa-check text-success"></i> <strong>Interactive language learning</strong></li>
                          <li><i class="fa fa-check text-success"></i> <strong>Take confidence in yourself </strong></li>
                        </ul>
                      </div>
                    </div>
                    <div class="pricing_footer">
                      {% if is_granted('ROLE_USER') %}
                        <a href="#" class="btn btn-success btn-block"
                           role="button"><span> Enter!</span></a>
                      {% else %}
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-success btn-block"
                           role="button">Register <span> now!</span></a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <!-- ./ Tandems -->
              <!-- Erasmus -->
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="pricing">
                  <div class="title">
                    <h1>Erasmus</h1>
                    <h2>Find the Best Option for Your Erasmus</h2>
                  </div>
                  <div class="x_content">
                    <div class="">
                      <div class="pricing_features">
                        <ul class="list-unstyled text-left">
                          <li><i class="fa fa-check text-success"></i> <strong>Dynamic search</strong></li>
                          <li><i class="fa fa-check text-success"></i> <strong>Compare destinations</strong></li>
                          <li><i class="fa fa-check text-success"></i> <strong>Interactive map</strong></li>
                          <li><i class="fa fa-check text-success"></i> <strong>Filtered by language, study and country
                            </strong></li>
                          <li><i class="fa fa-check text-success"></i> <strong>Save time</strong></li>
                          <li><i class="fa fa-check text-success"></i> <strong>Centralized university
                              information</strong></li>
                        </ul>
                      </div>
                    </div>
                    <div class="pricing_footer">
                      {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('destino_index') }}" class="btn btn-success btn-block"
                           role="button"><span> Enter!</span></a>
                      {% else %}
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-success btn-block"
                           role="button">Register <span> now!</span></a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <!-- ./ Erasmus -->
              <!-- Experiences -->
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="pricing">
                  <div class="title">
                    <h1>Experiences</h1>
                    <h2>Share your erasmus experience</h2>
                  </div>
                  <div class="x_content">
                    <div class="">
                      <div class="pricing_features">
                        <ul class="list-unstyled text-left">
                          <li><i class="fa fa-check text-success"></i> <strong>Comments from other students</strong>
                          </li>
                          <li><i class="fa fa-check text-success"></i> <strong>First hand information
                            </strong></li>
                          <li><i class="fa fa-check text-success"></i> <strong>Opinions on level of life, studies
                            </strong></li>
                          <li><i class="fa fa-check text-success"></i> <strong>Rate your peers' experiences
                            </strong></li>
                          <li><i class="fa fa-check text-success"></i> <strong>Find useful information for your trip
                            </strong></li>
                        </ul>
                      </div>
                    </div>
                    <div class="pricing_footer">
                      {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('experiencia_index') }}" class="btn btn-success btn-block"
                           role="button"><span> Enter!</span></a>
                      {% else %}
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-success btn-block"
                           role="button">Register <span> now!</span></a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <!-- ./ Experiences -->
              <!-- Notes -->
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="pricing">
                  <div class="title">
                    <h1>Notes</h1>
                    <h2>Publish your notes for other Erasmus</h2>
                  </div>
                  <div class="x_content">
                    <div class="">
                      <div class="pricing_features">
                        <ul class="list-unstyled text-left">
                          <li><i class="fa fa-check text-success"> </i><strong> Share your documents</strong></li>
                          <li><i class="fa fa-check text-success"> </i><strong> Customize your search</strong></li>
                          <li><i class="fa fa-check text-success"> </i><strong> Do not let your effort be lost</strong></li>
                          <li><i class="fa fa-check text-success"> </i><strong> Start sharing!</strong></li>
                        </ul>
                      </div>
                    </div>
                    <div class="pricing_footer">
                      {% if is_granted('ROLE_USER') %}
                        <a href="#" class="btn btn-success btn-block"
                           role="button"><span> Enter!</span></a>
                      {% else %}
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-success btn-block"
                           role="button">Register <span> now!</span></a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <!-- ./ Notes -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}