{% extends '::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block tab_title %} {{ 'layout.register'|trans({}, 'FOSUserBundle') }} {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-"></i> {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
          </h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
          {% if targetUrl %}
            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}