{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block tab_title %} {{ 'layout.register'|trans({}, 'FOSUserBundle') }} {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block breadcrumb %}
  <div class="btn-group btn-breadcrumb">
    <a href="{{ path('homepage')}}" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
    <a class="btn btn-default active">Register</a>
  </div>
{% endblock %}

{% block page_content %}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-"></i> {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
          </h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="col-lg-4 col-lg-offset-4 col-md-12 col-sm-12 col-xs-12">
            {{ include('@FOSUser/Registration/register_content.html.twig') }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}