{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="col-lg-12 text-left">
        <hr/>
        <a href="{{ path('homepage_locale') }}" class="btn btn-primary">Cancel</a>
        <input class="btn btn-success" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
