{% extends '::base.html.twig' %}

{% block tab_title %} Universities {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
  <div class="row">
    {% include '@Universidades/ofertaacademica/modal_info.html.twig' %}
    <!-- Confirmación eliminación Oferta Académica -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-building"></i> <a href="{{ path('universidad_index') }}"> Universities </a>
            <a href="{{ path('universidad_edit', {'id': universidad.id}) }}">
              <small>{{ universidad.nombre }}</small>
            </a>
            <small>{{ action_label }} Academic Offer</small>
          </h2>
          <div class="pull-right">
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#ofertaAcademica_modal_info"><i
                  class="fa fa-info"></i> Info
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3>Warning!</h3>
              <p>
                It will proceed to eliminate the academic offer with data:
              <ul>
                <li>Study: {{ ofertaAcademica.estudio.estudio }}</li>
                <li>Language: {{ ofertaAcademica.idioma.idioma }}</li>
                <li>University: {{ universidad.nombre }} - {{ universidad.codigo }}</li>
              </ul>
              <br>
              </b>
              </p>
            </div>
            <div class="panel-body">
              <div class="pull-right">
                <a href="{{ path('universidad_edit', {'id': universidad.id}) }}" class="btn btn-default">Cancel</a>
                <a href="{{ path('ofertaAcademica_delete', { 'universidad': universidad.id, 'id':ofertaAcademica.id }) }}" class="btn btn-danger">Delete</a>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./ Confirmación eliminación oferta Academica -->
  </div>
{% endblock %}