<!-- Modal para información de la página -->
<div id="ofertaAcademica_modal_info" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel2">Academic Offers Information</h4>
      </div>
      <div class="modal-body">
        <p class="text-justify"><b>What is an academic offer?</b>
          <br>An academic offer is a study, language and level of study offered at the university. It will serve to
          filter experiences, universities and others.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- ./ Modal para información de la página -->