{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block tab_title %} Universities {% endblock %}

{% block page_header_title %}
  <i class="fa fa-university"></i> <a href="{{ path('universidad_index') }}"> Universities </a>
  <a href="{{ path('universidad_edit', {'id': universidad.id}) }}">
  <small>{{ universidad.nombre }}</small></a>
{% endblock %}

  {% block page_header_search %}{% endblock %}

  {% block notifications %}{% endblock %}

  {% block page_content %}
    <div class="row">
      {% include '@Universidades/ofertaacademica/modal_info.html.twig' %}
      <!-- Formulario OfertaAcademica -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>
              <i class="fa fa-book"></i> Academic Offer <small>{{ action_label }}</small>
            </h2>
            <div class="pull-right">
              <button class="btn btn-warning" type="button" data-toggle="modal"
                      data-target="#ofertaAcademica_modal_info">
                <i
                    class="fa fa-info"></i> Info
              </button>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">
              {{ form_start(form) }}
              <div class="col-lg-4 col-lg-offset-4">
                <h3>Form {{ action_label }} Academic Offer</h3>
                {{ form(form) }}
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="text-right">
                    <a href="{{ path('universidad_edit', {'id': universidad.id}) }}"
                       class="btn btn-default">Cancel</a>
                    {% if action == 'edit' %}
                      <a href="{{ path('ofertaAcademica_delete_confirm', {'id':ofertaAcademica.id, 'universidad': universidad.id}) }}"
                         class="btn btn-danger">Delete</a>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Save</button>
                  </div>
                </div>
              </div>
              {{ form_end(form) }}
            </div>
          </div>
        </div>
      </div>
      <!-- ./ Formulario OfertaAcademica -->
    </div>
  {% endblock %}