/*---------------------------*/
/* Mis estilos personalizados*/
/*---------------------------*/
.contacto-item{
    min-height: 250px;
}

/*---------------------------*/

/*---------------------------*/
/* Breadcrumb */
/*---------------------------*/
.breadcrumb {
    background-color: #2A3F54;
}

.breadcrumb li a{
    color: white;
}

.thumbnail.experiencias{
    height: auto;
}

.experiencias .content{
    margin-left: 15px;
    margin-top: 15px;
}

.experiencias .footer a.green{
    background-color: #1ABB9C;
    border-color: #1ABB9C;
    color: white;
}