{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block tab_title %} Change Password {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-"></i> Change Password
          </h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="col-lg-4 col-lg-offset-4 col-md-12 col-sm-12 col-xs-12">
            {{ include('@FOSUser/ChangePassword/change_password_content.html.twig') }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
