{% extends 'base.html.twig' %}

{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block tab_title %} Tandems {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block breadcrumb %}
    <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
        <a href="{{ path('apuntes_index') }}" class="btn btn-default">Tandem list</a>
        <a class="btn btn-default active">Tandem edition</a>
    </div>
{% endblock %}

{% block page_content %}
    {% if tandem.usuario == app.user %}
        <div class="row">
            {% include 'TandemBundle:tandem:modal.html.twig' %}
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            <i class="fa fa-comments-o"></i> Tandem edit
                        </h2>
                        <div class="pull-right">
                            <button class="btn btn-warning" type="button" data-toggle="modal"
                                    data-target="#modal_tandem_edit"><i
                                        class="fa fa-info"></i> Info
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-lg-12">
                                {{ form_start(edit_form) }}
                                <div class="col-lg-4 col-lg-offset-2">
                                    {{ form_row(edit_form.fecha_tandem) }}
                                    {{ form_row(edit_form.hora_tandem) }}
                                    {{ form_row(edit_form.lugar_tandem) }}
                                    {{ form_row(edit_form.estudio) }}
                                </div>
                                <div class="col-lg-4">
                                    {{ form_row(edit_form.idioma_tandem_ensenyar) }}
                                    {{ form_row(edit_form.idioma_tandem_aprender) }}
                                    {{ form_row(edit_form.max_personas) }}
                                    <div class="help-block">Must be bigger than 1</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    <hr/>
                                    <a href="{{ path('tandem_index') }}" class="btn btn-primary">Cancel</a>
                                    <input type="submit" class="btn btn-warning" value="Edit"/>
                                    <a href="{{ path('tandem_delete_confirm', {'id': tandem.id}) }}" class="btn btn-danger" type="button"><i class="fa fa-trash"></i> Delete Tandem</a>
                                </div>
                            </div>
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
