{% extends 'base.html.twig' %}
{% block tab_title %} Tandems {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block breadcrumb %}
    <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
        <a class="btn btn-default active">Tandem list</a>
    </div>
{% endblock %}

{% block page_content %}
    <div class="row">
        {% include 'TandemBundle:tandem:modal.html.twig' %}
        <!-- Listado Tandems -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        <i class="fa fa-comments-o"></i> Tandems
                    </h2>
                    <div class="pull-right">
                        <button class="btn btn-warning" type="button" data-toggle="modal"
                                data-target="#modal_tandem_index"><i
                                    class="fa fa-info"></i> Info
                        </button>
                        <a href="{{ path('tandem_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Create
                            new
                            Tandem</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!--Tabla de tandems-->
                            <table id=""
                                   class="table table-striped table-bordered dt-responsive nowrap datatable-responsive"
                                   cellspacing="0"
                                   width="100%">
                                <thead>
                                <tr>

                                    <th> Date</th>
                                    <th> Time</th>
                                    <th> Place</th>
                                    <th> Language to teach</th>
                                    <th> Language to learn</th>
                                    <th> Maximum participants</th>
                                    <th> Participating</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for tandem in tandems %}
                                    {% if (((tandem.usuario == app.user ) and ((tandem.estadoTandem == "Approved") or (tandem.estadoTandem == "Rejected"))) or (tandem.estadoTandem == "Approved") or (is_granted('ROLE_ADMIN'))) %}
                                        <tr style="text-align: center">

                                            <td>{% if tandem.fechatandem %}{{ tandem.fechatandem|date('Y-m-d') }}{% endif %}</td>
                                            <td>{% if tandem.horatandem %}{{ tandem.horatandem|date('H:i') }}{% endif %}</td>
                                            <td>{{ tandem.lugartandem }}</td>
                                            <td>{{ tandem.idiomatandemensenyar }}</td>
                                            <td>{{ tandem.idiomatandemaprender }}</td>
                                            <td>{{ tandem.maxpersonas }}</td>
                                            <td>{{ tandem.personasapuntadas }}</td>
                                            {% if tandem.usuario == app.user %}
                                                <td><a class="btn" data-toggle="modal"
                                                       data-target="#modal_tandem_status_creator">Creator</a></td>
                                            {% elseif ('now'|date('d-m-Y') > tandem.fechaTandem|date('d-m-Y') ) and ('now'|date('H:i') > tandem.horaTandem|date('H:i') ) %}
                                                <td><a class="btn" data-toggle="modal"
                                                       data-target="#modal_tandem_status_ended">Ended</a></td>
                                            {% elseif tandem.personasapuntadas == 1 %}
                                                <td><a class="btn" data-toggle="modal"
                                                       data-target="#modal_tandem_status_available">Available</a></td>
                                            {% elseif tandem.personasApuntadas == tandem.maxPersonas %}
                                                <td><a class="btn" data-toggle="modal"
                                                       data-target="#modal_tandem_status_full">Full</a></td>
                                            {% elseif app.user in tandem.participantes %}

                                                <td><a class="btn" data-toggle="modal"
                                                       data-target="#modal_tandem_status_participating">Participating </a>
                                                </td>

                                            {% else %}
                                                <td><a class="btn" data-toggle="modal"
                                                       data-target="#modal_tandem_status_available">Available </a></td>

                                            {% endif %}
                                            <td>
                                                <a href="{{ path('tandem_show', { 'id': tandem.id }) }}"
                                                   class="btn btn-info btn-xs"
                                                   type="button"><i class="fa fa-pencil"></i> Show</a>
                                                {% if tandem.usuario == app.user %}
                                                    <a href="{{ path('tandem_edit', { 'id': tandem.id }) }}"
                                                       class="btn btn-warning btn-xs"
                                                       type="button"><i class="fa fa-pencil"></i> Edit</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}