<!-- Modal para información del creacion de tandems -->
<div id="modal_tandem_new" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Information about Tandem creation</h4>
            </div>
            <div class="modal-body">
                <p class="text-justify"><b>Why should I create a Tandem?</b>
                    <br>You should create a Tandem if you're looking to learn new language.
                </p>
                <p class="text-justify"><b>What means the field "language to teach"?</b>
                    <br>It means that you should choose a language in which the participants are interested.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- ./ Modal para información de la página -->


<!-- Modal para información del index de tandems -->
<div id="modal_tandem_index" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Information about Tandem list</h4>
            </div>
            <div class="modal-body">
                <p class="text-justify"><b>What am I seeing here?</b>
                    <br>You can check all the created Tandems, and choose one to participate in. Or you can alsocreate
                    one.
                </p>
                <p class="text-justify"><b>How can I participate?</b>
                    <br>Press the button "Show", and if the Tandem is full of participants, you will be able to
                    participate.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- ./ Modal para información de la página -->


<!-- Modal para información del index de tandems estado "Available" -->
<div id="modal_tandem_status_available" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Information about status "Available"</h4>
            </div>
            <div class="modal-body">
                <p class="text-justify"><b>What means "Available"?</b>
                    <br>Status "Available" on a Tandem means that you can participate in that Tandem.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- ./ Modal para información de la página -->

<!-- Modal para información del index de tandems estado "Ended" -->
<div id="modal_tandem_status_ended" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Information about status "Ended"</h4>
            </div>
            <div class="modal-body">
                <p class="text-justify"><b>What means "Ended"?</b>
                    <br>Status "Ended" on a Tandem means that the date has expired.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- ./ Modal para información de la página -->

<!-- Modal para información del index de tandems estado "Full" -->
<div id="modal_tandem_status_full" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Information about status "Full"</h4>
            </div>
            <div class="modal-body">
                <p class="text-justify"><b>What means "Full"?</b>
                    <br>Status "Full" on a Tandem means that you can't participate in that Tandem.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- ./ Modal para información de la página -->

<!-- Modal para información del index de tandems estado "Participating" -->
<div id="modal_tandem_status_participating" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Information about status "Participating"</h4>
            </div>
            <div class="modal-body">
                <p class="text-justify"><b>What means "Participating"?</b>
                    <br>Status "Participating" on a Tandem means that you're already participating in that Tandem. You
                    can delete your participation if you go to the "Show" window.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- ./ Modal para información de la página -->

<!-- Modal para información del index de tandems estado "Creator" -->
<div id="modal_tandem_status_creator" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Information about status "Creator"</h4>
            </div>
            <div class="modal-body">
                <p class="text-justify"><b>What means "Creator"?</b>
                    <br>Status "Creator" on a Tandem means that you're the owner of that Tande. You can also delete it
                    or edit it.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- ./ Modal para información de la página -->


<!-- Modal para información del Show details de tandems -->
<div id="modal_tandem_show_details" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Information about Tandem</h4>
            </div>
            <div class="modal-body">
                <p class="text-justify"><b>What am I seeing here?</b>
                    <br>Here you can see the full descriptioin of the Tandem.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- ./ Modal para información de la página -->

<!-- Modal para información del Show participants de tandems -->
<div id="modal_tandem_show_participants" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Information about Participants</h4>
            </div>
            <div class="modal-body">
                <p class="text-justify"><b>What am I seeing here?</b>
                    <br>Here you can see all the participants of the current Tandem.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- ./ Modal para información de la página -->


<!-- Modal para información del edit de tandems -->
<div id="modal_tandem_edit" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Information about Tandem edition</h4>
            </div>
            <div class="modal-body">
                <p class="text-justify"><b>What can I do here?</b>
                    <br>Here you can edit any field of a Tandem that you have created. Or you can also delete your Tandem.

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- ./ Modal para información de la página -->

