{% extends 'base.html.twig' %}

{% block tab_title %} Tandems {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block breadcrumb %}
    <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
        <a href="{{ path('tandem_index') }}" class="btn btn-default">Tandem list</a>
        <a class="btn btn-default active">Tandem information</a>
    </div>
{% endblock %}

{% block page_content %}
    <div class="row">
        {% include 'TandemBundle:tandem:modal.html.twig' %}
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        <i class="fa fa-comments-o"></i> Tandem details
                    </h2>
                    <div class="pull-right">
                        <button class="btn btn-warning" type="button" data-toggle="modal"
                                data-target="#modal_tandem_show_details"><i
                                    class="fa fa-info"></i> Info
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <table>
                                <tbody>
                                <tr>
                                    <th>Tandem date</th>
                                    <td>{% if tandem.fechatandem %}{{ tandem.fechatandem|date('d-m-Y') }}{% endif %}
                                        at {% if tandem.horatandem %}{{ tandem.horatandem|date('H:i') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Will take place in</th>
                                    <td>{{ tandem.lugartandem }}</td>
                                </tr>
                                <tr>
                                    <th>The language to teach is &nbsp;</th>
                                    <td>{{ tandem.idiomatandemensenyar }}</td>
                                </tr>
                                <tr>
                                    <th>The language to learn is</th>
                                    <td>{{ tandem.idiomatandemaprender }}</td>
                                </tr>
                                <tr>
                                    <th>Maximum participants</th>
                                    <td>{{ tandem.maxpersonas }}</td>
                                </tr>
                                <tr>
                                    <th>Already participating</th>
                                    <td>{{ tandem.personasapuntadas }}</td>
                                </tr>
                                <tr>
                                    <th>Created by</th>
                                    <td>{{ tandem.usuario.email }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    </br>

                    <div class="row">
                        <div class="col-lg-12 text-left">
                            <hr/>
                            {% if (is_granted('ROLE_USER')) and (is_granted('ROLE_ADMIN') == false) %}
                                {% if tandem.usuario == app.user %}
                                    <a href="{{ path('tandem_delete_confirm', {'id': tandem.id}) }}"
                                       class="btn btn-danger" type="button"><i class="fa fa-trash"></i> Delete
                                        Tandem</a>
                                    <a href="{{ path('tandem_edit', { 'id': tandem.id }) }}"
                                       class="btn btn-warning">Edit</a>
                                    <a href="{{ path('tandem_index') }}" class="btn btn-primary">Back to the list</a>
                                {% elseif app.user in tandem.participantes %}
                                    {{ form_start(removeParticipation_form) }}
                                    <input type="submit" class="btn btn-danger" value="Delete Participation"/>
                                    <a href="{{ path('tandem_index') }}" class="btn btn-primary">Back to the list</a>
                                    {{ form_end(removeParticipation_form) }}
                                {% else %}
                                    {{ form_start(addParticipation_form) }}
                                    {% if ('now'|date('d-m-Y') > tandem.fechaTandem|date('d-m-Y') ) and ('now'|date('H:i') > tandem.horaTandem|date('H:i') ) %}
                                        <input type="submit" class="btn btn-success" disabled
                                               value="Participate">
                                    {% else %}
                                        <input type="submit" class="btn btn-success"
                                               value="Participate">
                                    {% endif %}
                                    <a href="{{ path('tandem_index') }}" class="btn btn-primary">Back to the list</a>
                                    {{ form_end(addParticipation_form) }}

                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        <i class="fa fa-users"></i> Participants
                    </h2>
                    <div class="pull-right">
                        <button class="btn btn-warning" type="button" data-toggle="modal"
                                data-target="#modal_tandem_show_participants"><i
                                    class="fa fa-info"></i> Info
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                            <table class="table table-striped">
                                <!-- CREADOR DEL TANDEM -->
                                <tr>
                                    <th scope="row">{{ tandem.usuario.nombre ~ ' ' ~ tandem.usuario.apellido }}</th>
                                </tr>

                                <!-- RESTO DE PARTICIPANTES DEL TANDEM -->
                                {% for participante in tandem.participantes %}
                                    {% if participante.id != null %}
                                        {% for tandemPart in participante.usuarios %}
                                            {% if (tandemPart.id == tandem.id) %}
                                                <tr>
                                                    <th scope="row">{{ participante.nombre ~ ' ' ~ participante.apellido }}</th>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}