{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal form-label-left">
  {% if csrf_token %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
  {% endif %}

  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">{{ 'security.login.username'|trans }}<span
          class="required"></span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
             class="form-control col-md-7 col-xs-12">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">{{ 'security.login.password'|trans }}<span
          class="required"></span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input type="password" id="password" name="_password" value="{{ last_username }}" required="required"
             class="form-control col-md-7 col-xs-12">
    </div>
  </div>

  <div class="form-group text-center">
    <div class="checkbox">
      <label>
        <input type="checkbox" id="remember_me" name="_remember_me" value=""> {{ 'security.login.remember_me'|trans }}
      </label>
    </div>
  </div>

  <div class="form-group text-center">
    <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
  </div>

  <div class="form-group text-center">
    <a href="{{ path('fos_user_resetting_request') }}"> Forgot your password?</a>
  </div>
</form>

{% if error %}
  <div class="alert alert-danger fade in" role="alert">
    <strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
  </div>
{% endif %}