<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
</head>
<body>
<div>
  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
    <a href="{{ path('fos_user_security_logout') }}">
      {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>
  {% else %}
    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
  {% endif %}
</div>

{% if app.request.hasPreviousSession %}
  {% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
      <div class="flash-{{ type }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endfor %}
{% endif %}

<div>
  {% block fos_user_content %}
  {% endblock fos_user_content %}
</div>
</body>
</html>
