{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-horizontal form-label-left">
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">{{ 'resetting.request.username'|trans }}
      <span
          class="required"></span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input type="text" id="username" name="username" required="required"
             class="form-control col-md-7 col-xs-12">
    </div>
  </div>

  <div class="form-group text-center">
    <input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans }}"/>
  </div>
</form>
