{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block tab_title %} Tickets {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block breadcrumb %}
    <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
        <a href="{{ path('ticket_index') }}" class="btn btn-default">Reported issues</a>
        <a class="btn btn-default active">New issue</a>
    </div>
{% endblock %}

{% block page_content %}
    <div class="row">
        {% include 'TicketsBundle:tickets:modal.html.twig' %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        <i class="fa fa-ticket"></i> Ticket creation
                    </h2>
                    <div class="pull-right">

                        <button class="btn btn-warning" type="button" data-toggle="modal"
                                data-target="#modal_ticket_new"><i
                                    class="fa fa-info"></i> Info
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {{ form_start(form) }}
                            <div class="col-lg-4 col-lg-offset-4">
                                {{ form_row(form.titulo) }}
                                {{ form_row(form.apartado) }}
                                {{ form_row(form.descripcion) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <hr/>
                                <a href="{{ path('ticket_index') }}" class="btn btn-primary">Cancel</a>
                                <input type="submit" class="btn btn-success" value="Report"/>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
