{% extends 'base.html.twig' %}

{% block tab_title %} Tandems {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block breadcrumb %}
    <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
        <a href="{{ path('ticket_index') }}" class="btn btn-default">Reported issues</a>
        <a class="btn btn-default active">Show ticket</a>
    </div>
{% endblock %}

{% block page_content %}
    <div class="row">
        {% include 'TicketsBundle:tickets:modal.html.twig' %}
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        <i class="fa fa-ticket"></i> Ticket detail
                    </h2>
                    <div class="pull-right">
                        <button class="btn btn-warning" type="button" data-toggle="modal"
                                data-target="#modal_ticket_show"><i
                                    class="fa fa-info"></i> Info
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                            <table>
                                <tbody>
                                <tr>
                                    <th>Title of ticket</th>
                                    <td>{{ ticket.titulo }}</td>
                                </tr>
                                <tr>
                                    <th>Ticket was created about section &nbsp;</th>
                                    <td> {{ ticket.apartado }}</td>
                                </tr>
                                <tr>
                                    <th>Your status ticket is</th>
                                    <td>{{ ticket.estadoticket }}</td>
                                </tr>
                                <tr>
                                    <th>Date of creation</th>
                                    <td>{% if ticket.fechacreacion %}{{ ticket.fechacreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                                </tr>

                                {% if (ticket.estadoTicket == 'Rejected') or (ticket.estadoTicket == 'Resolved') %}

                                    <tr>
                                        <th>Date of resolution</th>
                                        <td>{% if ticket.fecharesolucion %}{{ ticket.fecharesolucion|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th>Ticket resolved by</th>
                                        <td>{{ ticket.usuarioresolucion }}</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    </br>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                            <hr/>
                            <a href="{{ path('ticket_index') }}" class="btn btn-primary">Back to the list</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 text-left">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            <i class="fa fa-ticket"></i> Description
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-striped">
                            <tr>
                                <th scope="row">{{ ticket.descripcion }}</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-left">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            <i class="fa fa-reply"></i> Admin reply
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="text-left">
                                <table class="table table-striped">
                                    <tr>
                                        {% if is_granted('ROLE_ADMIN') == false %}
                                            {% if ticket.respuesta == null %}
                                                <th scope="row">This ticket has not been reviewed yet.</th>
                                            {% else %}
                                                <th scope="row">{{ ticket.respuesta }}</th>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
