{% extends '::base.html.twig' %}

{% block tab_title %} 404 {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block page_content %}
  <!-- page content -->
  <div class="col-md-12">
    <div class="col-middle">
      <div class="text-center text-center">
        <h1 class="error-number">404</h1>
        <h2>Sorry but we couldnt find this page</h2>
        <p>This page you are looking for does not exsist <a href="#">Report this?</a>
        </p>
        <div class="mid_center">
          <h3>Search</h3>
          <form>
            <div class="col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /page content -->
{% endblock %}