{% extends '::base.html.twig' %}

{% block tab_title %} Contacts {% endblock %}

{% block page_header_title %}
  <i class="fa fa-address-book"></i> <a href="{{ path('contacto_index') }}"> Contacts </a>
{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
  <div class="row">
    {% include '@Universidades/contacto/modal_info.html.twig' %}
    <!-- Confirmación eliminación Contacto -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-address-book"></i> {{ action_label }} contact: {{ contacto.nombre }}
          </h2>
          <div class="pull-right">
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#universidad_modal_info"><i
                  class="fa fa-info"></i> Info
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3>Warning!</h3>
              <p>
                You are proceeding to remove the contact: {{ contacto.nombre }} - {{ contacto.apellidos }}
              </p>
            </div>
            <div class="panel-body">
              <div class="pull-right">
                <a href="{{ path('contacto_edit', {'id': contacto.id}) }}" class="btn btn-default">Cancel</a>
                <a href="{{ path('contacto_delete', { 'id': contacto.id }) }}" class="btn btn-danger">Delete</a>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./ Confirmación eliminación Contacto -->
  </div>
{% endblock %}