{% extends '::base.html.twig' %}

{% block tab_title %} Contacts {% endblock %}

{% block page_header_title %}
  <i class="fa fa-address-book"></i> <a href="{{ path('contacto_index') }}"> Contacts </a>
{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
  <div class="row">
    {% include '@Universidades/contacto/modal_info.html.twig' %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-address-book"></i> Contacts {{ query }}
          </h2>
          <div class="pull-right">
            <a href="{{ path('contacto_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> New</a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-12 col-sm-12 col-xs-12">
              <form action="{{ path('contacto_index') }}" method="get">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for..." name="query" id="query"
                         value="{{ query }}">
                  <span class="input-group-btn"><button class="btn btn-default" type="submit">Go!</button></span>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            {% for contacto in contactos %}
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                <div class="well profile_view">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="min-height: 250px;">
                    <h4 class="brief"><i>{{ contacto.universidad.nombre }}</i></h4>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
                      <h2>{{ contacto.nombre }} - {{ contacto.apellidos }}</h2>
                      <p><strong>Position: </strong> {{ contacto.cargo }} </p>
                      <ul class="list-unstyled">
                        <li><i class="fa fa-phone"></i> Phone: {{ contacto.telefono }}</li>
                        <li><i class="fa fa-phone"></i> Email: {{ contacto.email }}</li>
                        <li><i class="fa fa-phone"></i> Address: {{ contacto.direccion | raw }}</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-xs-12 bottom text-center">
                    <div class="col-xs-12 col-sm-6 emphasis pull-right">
                      <a class="btn btn-success btn-xs"><i class="fa fa-send">
                        </i> Send mail</a>
                      <a href="{{ path('contacto_edit', {'id': contacto.id }) }}" class="btn btn-primary btn-xs"><i
                            class="fa fa-user"></i> View profile
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
