{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block tab_title %} Contactos {% endblock %}

{% block page_header_title %}
  <i class="fa fa-address-book"></i> <a href="{{ path('contacto_index') }}"> Contactos </a>
{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
  <div class="row">
    {% include '@Universidades/contacto/modal_info.html.twig' %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-address-book"></i> {{ action_label }} contact: {{ contacto.nombre }}
          </h2>
          <div class="pull-right">
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#contacto_modal_info"><i
                  class="fa fa-info"></i> Info
            </button>
            {% if action == 'edit' %}
              <a href="{{ path('universidad_edit', {'id': contacto.universidad.id}) }}" class="btn btn-primary">
                View University
              </a>
            {% endif %}
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 col-lg-offset-3">
              {{ form_start(form) }}
              {{ form_widget(form) }}
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="text-right">
                  <a href="{{ path('contacto_index') }}" class="btn btn-default">Cancel</a>
                  {% if action == 'edit' %}
                    <a href="{{ path('contacto_delete_confirm', {'id': contacto.id}) }}"
                       class="btn btn-danger">Delete</a>
                  {% endif %}
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>
              {{ form_end(form) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
