{% extends '::base.html.twig' %}

{% block tab_title %} Universities {% endblock %}

{% block page_header_title %}
  <i class="fa fa-university"></i> <a href="{{ path('universidad_index') }}"> Universities </a>
{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
  <div class="row">
    <!-- Confirmación eliminación Universidad -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-address-book"></i> {{ action_label }} university: {{ universidad.codigo }}
          </h2>
          <div class="pull-right">
            {% include '@Universidades/universidad/modal_info.html.twig' %}
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#universidad_modal_info"><i
                  class="fa fa-info"></i> Info
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3>Warning!</h3>
              <p>
                It will proceed to eliminate the university: {{ universidad.codigo }} - {{ universidad.nombre }}
              </p>
            </div>
            <div class="panel-body">
              <div class="pull-right">
                <a href="{{ path('universidad_index') }}" class="btn btn-default">Cancel</a>
                <a href="{{ path('universidad_delete', { 'id': universidad.id }) }}" class="btn btn-danger">Delete</a>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./ Confirmación eliminación Universidad -->
  </div>
{% endblock %}