{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block tab_title %} Universities {% endblock %}

{% block page_header_title %}
  <i class="fa fa-university"></i> <a href="{{ path('universidad_index') }}"> Universities </a>
{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
  <div class="row">
    {% include '@Universidades/universidad/modal_info.html.twig' %}
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <!-- Panel formulario datos universidad -->
      <div class="x_panel">
        <div class="x_title">
          <h2><i class="fa fa-university"></i> {{ universidad.codigo }}</h2>
          <div class="pull-right">
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#universidad_modal_info">
              <i class="fa fa-info"></i> Info
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          {{ form_start(form) }}
          {{ form_row(form.codigo) }}
          <div class="help-block">Ej: SF LATHI</div>
          {{ form_row(form.nombre) }}
          {{ form_row(form.web) }}
          <div class="help-block">Ej: http://</div>
          {{ form_row(form.direccion) }}
          {{ form_row(form.coordenadas) }}
          <div class="help-block">Ej: 0,987788988 - 9,22222'</div>
          {{ form_row(form.plazas) }}
          {{ form_row(form.deadlineA) }}
          <div class="help-block">First deadline submission deadline requests.</div>
          {{ form_row(form.deadlineB) }}
          <div class="help-block">Second deadline submission deadline.</div>
          <label>State of the University</label>
          {{ form_row(form.estado) }}
          <div class="help-block">Visible or hidden for students.</div>
          {{ form_row(form.pais) }}

          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="text-right">
              <a href="{{ path('universidad_index') }}" class="btn btn-default">Cancel</a>
              {% if action == 'edit' %}
                <a href="{{ path('universidad_delete_confirm', {'id': universidad.id}) }}" class="btn btn-danger">Delete</a>
              {% endif %}
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
          {{ form_end(form) }}
        </div>
      </div>
      <!-- ./ Panel formulario datos universidad -->
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <!-- Panel listado oferta académica -->
      <div class="x_panel">
        <div class="x_title">
          <h2><i class="fa fa-book"></i> Academic Offer List</h2>
          <div class="pull-right">
            <a href="{{ path('ofertaAcademica_new', {'id': universidad.id}) }}" class="btn btn-primary">
              <i class="fa fa-plus"></i> Add
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="tabla_oferta_academica"
                 class="table table-striped table-bordered dt-responsive nowrap datatable-responsive"
                 cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>Study</th>
              <th>Language</th>
              <th>Level</th>
              <th>Comment</th>
              <th data-sortable="false">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for ofertaAcademica in universidad.ofertasAcademicas %}
              <tr>
                <td>{{ ofertaAcademica.estudio.estudio }}</td>
                <td>{{ ofertaAcademica.idioma.idioma }}</td>
                <td>{{ ofertaAcademica.nivel.nivel }}</td>
                <td>{{ ofertaAcademica.comentario | slice(0, 30) }}...</td>
                <td class="text-center">
                  <a href="{{ path('ofertaAcademica_edit', {'id': ofertaAcademica.id, 'universidad':universidad.id}) }}"
                     class="btn btn-info btn-xs" type="button"><i class="fa fa-pencil"></i> Edit</a>
                  <a href="{{ path('ofertaAcademica_delete_confirm', {'id': ofertaAcademica.id, 'universidad':universidad.id}) }}"
                     class="btn btn-danger btn-xs" type="button"><i class="fa fa-trash"></i> Delete</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- ./ Panel listado oferta académica -->
      <!-- Panel listado contactos -->
      <div class="x_panel">
        <div class="x_title">
          <h2><i class="fa fa-address-book"></i> Contact List</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="tabla_contactos"
                 class="table table-striped table-bordered dt-responsive nowrap datatable-responsive"
                 cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Email</th>
              <th>Phone</th>
              <th data-sortable="false">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for contacto in universidad.contactos %}
              <tr>
                <td>{{ contacto.nombre }}</td>
                <td>{{ contacto.cargo.cargo }}</td>
                <td>{{ contacto.email }}</td>
                <td>{{ contacto.telefono }}</td>
                <td class="text-center">
                  <a href="{{ path('contacto_edit', {'id': contacto.id}) }}"
                     class="btn btn-info btn-xs" type="button"><i class="fa fa-pencil"></i> Edit</a>
                  <a href="{{ path('contacto_delete_confirm', {'id': contacto.id}) }}"
                     class="btn btn-danger btn-xs" type="button"><i class="fa fa-trash"></i> Delete</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- ./ Panel listado contactos -->
    </div>
  </div>
{% endblock %}

{% block custom_javascript %}
  <script>
      $('#tabla_oferta_academica').dataTable({
          "paging": false,
          "searching": false,
          "info": false
      });
      $('#tabla_contactos').dataTable({
          "paging": false,
          "searching": false,
          "info": false
      });
  </script>
{% endblock %}