{% extends '::base.html.twig' %}

{% block tab_title %} Universities {% endblock %}

{% block page_header_title %}
  <i class="fa fa-university"></i> <a href="{{ path('universidad_index') }}"> Universities </a>
{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
  <div class="row">
    {% include 'UniversidadesBundle:universidad:modal_info.html.twig' %}
    <!-- Listado Universidades -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-university"></i> Universities
          </h2>
          <div class="pull-right">
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#universidad_modal_info"><i
                  class="fa fa-info"></i> Info
            </button>
            <a href="{{ path('universidad_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> New</a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="tabla_universidades"
                 class="table table-striped table-bordered dt-responsive nowrap datatable-responsive" cellspacing="0"
                 width="100%">
            <thead>
            <tr>
              <th>Code</th>
              <th>University</th>
              <th>Country</th>
              <th>Dead line A</th>
              <th>Dead line B</th>
              <th>Seats</th>
              <th data-sortable="false">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for universidad in universidades %}
              <tr>
                <td>{{ universidad.codigo }}</td>
                <td>{{ universidad.nombre }}</td>
                <td>{{ universidad.pais.nombre }}</td>
                <td>{{ universidad.deadlineA|date('Y-m-d') }}</td>
                <td>{{ universidad.deadlineB|date('Y-m-d') }}</td>
                <td>{{ universidad.plazas }}</td>
                <td class="text-center">
                  <a href="{{ path('universidad_edit', { 'id': universidad.id }) }}" class="btn btn-info btn-xs"
                     type="button"><i class="fa fa-pencil"></i> Edit</a>
                  <a href="{{ path('universidad_delete_confirm', { 'id': universidad.id }) }}"
                     class="btn btn-danger btn-xs" type="button"><i class="fa fa-trash"></i> Delete</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- ./ Listado Estudios -->
  </div>
{% endblock %}

{% block custom_javascript %}
  <script>
      $('#tabla_universidades').dataTable({
          "paging": true,
          "searching": true,
          "info": true
      });
  </script>
{% endblock %}