{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block tab_title %} Universities {% endblock %}

{% block page_header_title %}
  <i class="fa fa-university"></i> <a href="{{ path('universidad_index') }}"> Universities </a>
{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
  <div class="row">
    <!-- Formulario Universidades -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-university"></i> Universities </a>
            <small>{{ action_label }}</small>
          </h2>
          <div class="pull-right">
            {% include 'UniversidadesBundle:universidad:modal_info.html.twig' %}
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#universidad_modal_info"><i
                  class="fa fa-info"></i> Info
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            {{ form_start(form) }}
            <div class="col-lg-12">
              <div class="col-lg-4 col-lg-offset-2">
                {{ form_row(form.codigo) }}
                <div class="help-block">Ej: SF LATHI</div>
                {{ form_row(form.nombre) }}
                {{ form_row(form.pais) }}
                {{ form_row(form.web) }}
                <div class="help-block">Ej: http://</div>
                {{ form_row(form.direccion) }}
              </div>
              <div class="col-lg-4">
                {{ form_row(form.coordenadas) }}
                <div class="help-block">Ej: 0,987788988 - 9,22222'</div>
                {{ form_row(form.plazas) }}
                {{ form_row(form.deadlineA) }}
                <div class="help-block">First deadline submission deadline requests.</div>
                {{ form_row(form.deadlineB) }}
                <div class="help-block">Second deadline submission deadline.</div>
                <label>State of the University</label>
                {{ form_row(form.estado) }}
                <div class="help-block">Visible or hidden for students.</div>
              </div>
              <div class="col-lg-8 col-lg-offset-2">
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="text-right">
                    <a href="{{ path('universidad_index') }}" class="btn btn-default">Cancelar</a>
                    {% if action == 'edit' %}
                      <a href="{{ path('universidad_delete_confirm', {'id': universidad.id}) }}" class="btn btn-danger">Eliminar</a>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </div>
                </div>
              </div>

            </div>
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
    <!-- ./ Formulario Universidades -->
  </div>
{% endblock %}