{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block tab_title %} Erasmus destinations {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
  <div class="row">
    {% include '@Destinos/destinos/modal_info.html.twig' %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-compass"></i> Erasmus destinations
          </h2>
          <div class="pull-right">
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#destinos_modal_info"><i
                  class="fa fa-info"></i> Info
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="col-lg-4">
            {{ form_start(form) }}
              {{ form_widget(form) }}
              <div class="pull-right">
                <button id="btn-clear" name="btn-clear" class="btn btn-default" type="reset">Clear</button>
                <button type="button" class="btn btn-primary" name="buscar" id="buscar">Search</button>
              </div>
            {{ form_end(form) }}
             <div class="clearfix"></div>
             <div class="" id="message"></div>
          </div>
          <div class="col-lg-8">
            <div id="map" style="width:100%;height:700px;">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block custom_javascript %}
  <script type="text/javascript">

    var destino_estudio = $('#destinos_estudio');
    var destino_idioma = $('#destinos_idioma');
    var destino_pais = $('#destinos_pais');
    var url = location.protocol + '//' + location.host + '/destino/list';

    var map;
    var markers = [];

    $('#buscar').click(function() {
      var estudio = destino_estudio.val();
      var idioma = destino_idioma.val();
      var pais = destino_pais.val();

      console.log(estudio + ' - ' + idioma + ' - ' + pais);

      deleteMarkers();

      peticionAjax('get', {'estudio':estudio, 'idioma':idioma, 'pais':pais}, url , function(output){
          var data = JSON.parse(output);
          showResult(data);
          for(i=0;i<data.length;i++){
            addMarker(data[i]);
          }
      });
    });

    $("#btn-clear").click(function(){
      clearMarkers();
      $("#message").hide();
    });

    function showResult(data){
      if(data.length <= 0){
        $("#message").show();
        $("#message").removeClass("alert alert-success");
        $("#message").addClass("alert alert-danger");
        $("#message").text("No results found.");
        $("#message" ).delay(3000).fadeOut(500);
      }else{
        $("#message").show();
        $("#message").removeClass("alert alert-danger");
        $("#message").addClass("alert alert-success");
        $("#message").text("Universities found: " + data.length);
      }
    }

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 5,
        center: new google.maps.LatLng(47.5571409,13.9751188),
      });

      peticionAjax('get', {}, url, function(output){
         var data = JSON.parse(output);
         showResult(data);
         for(i=0;i<data.length;i++){
            addMarker(data[i]);
         }
      });
    }

    /**
    * Función que recibe un Array de datos de la universidad y carga en el mapa un MARKER y asocia un listener a cada
    * marker con una funcion "window.location.replace(...) al detalle la universidad.
    * */
    function addMarker(data){
      //ID - COORDINATES
      var latlong = data['coordenadas'].split(",");
      var myLatlng = new google.maps.LatLng(parseFloat(latlong[0]), parseFloat(latlong[1]));

      var marker = new google.maps.Marker({
        position: myLatlng,
        map: map
      });

      markers.push(marker);

      google.maps.event.addListener(marker, 'click', function() {
        window.location.replace(location.protocol + '//' + location.host + '/destino/' + data['id']+"/show");
      });
    }

    // Sets the map on all markers in the array.
    function setAllMap(map) {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(map);
      }
    }

    // Removes the markers from the map, but keeps them in the array.
    function clearMarkers() {
      setAllMap(null);
    }

    // Deletes all markers in the array by removing references to them.
    function deleteMarkers() {
      clearMarkers();
      markers = [];
    }

    /**
    * Función que facilita las peticiones AJAX
    * @param type: get, post, delete ...
    * @param data: datos a enviar al servidor. {'id': dato...}
    * @param url: url del servidor
    * @param callback: función de respuesta
    */
    function peticionAjax(type, data, url, callback){
      $.ajax({
          url: url, type: type, data: data,
          success: function(response){ console.log('success')},
          error: function(xhr){consolo.log('error')}
      }).done(function(data, textStatus, jqXHR){
          console.log('done');
          callback(data);
      }).fail(function(jqXHR, textStatus, errorThrown){
          console.log('fail');
      });
    }

  </script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHmPJamWNrJ0SsF7Mryhr2CCiu7ZoF40k&callback=initMap">
  </script>
{% endblock %}