<!-- Modal para información de la página -->
<div id="destinos_modal_info" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel2">Erasmus Destinations</h4>
      </div>
      <div class="modal-body">
        <p class="text-justify"><b>What are Erasmus Destinations?</b>
          <br>The Destinations are all those universities with which the Higher Polytechnic School of Alcoy has
          Agreement in force.
        </p>
        <p class="text-justify"><b>What will I find?</b>
          <br>Thanks to this tool you are offered the possibility of having all the centralized information,
          Destinations in force, information of the academic plan, contact details with universities ...
        </p>
        <p class="text-justify"><b>I do not see the university I want</b>
          <br>The agreements with the universities are not signed permanently, these have a period of validity.
          It may be that the university you are looking for has not renewed the agreement. In this case we recommend you
          that you put in contact with the technicians of Area of International Relations so that they advise you on
          Destinations.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- ./ Modal para información de la página -->