{% extends '::base.html.twig' %}

{% block tab_title %} University detail {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <!-- Panel formulario datos universidad -->
      <div class="x_panel">
        <div class="x_title">
          <h3>University data: {{ universidad.codigo }}</h3>
        </div>
        <div class="x_content">
          <form class="form-horizontal form-label-left input_mask">
            <div class="form-group">
              <label class="control-label" for="inputGroupSuccess1">Name</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-building"></i></span>
                <input type="text" class="form-control" readonly value="{{ universidad.nombre }}">
              </div>
              <label class="control-label" for="inputGroupSuccess1">Code</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-building"></i></span>
                <input type="text" class="form-control" readonly value="{{ universidad.codigo }}">
              </div>
              <label class="control-label" for="inputGroupSuccess1">Web</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                <input type="text" class="form-control" readonly value="{{ universidad.web }}">
              </div>
              <label class="control-label" for="inputGroupSuccess1">Address</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-signs"></i></span>
                <input type="text" class="form-control" readonly value="{{ universidad.direccion }}">
              </div>
              <label class="control-label" for="inputGroupSuccess1">Sites</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                <input type="text" class="form-control" readonly value="{{ universidad.plazas }}">
              </div>
              <label class="control-label" for="inputGroupSuccess1">Deadline A</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" class="form-control" readonly value="{{ universidad.deadlineA | date }}">
              </div>
              <label class="control-label" for="inputGroupSuccess1">Deadline B</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" class="form-control" readonly value="{{ universidad.deadlineB | date }}">
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- ./ Panel formulario datos universidad -->
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <!-- Panel listado oferta académica -->
      <div class="x_panel">
        <div class="x_title">
          <h3>Academic Offer</h3>
        </div>
        <div class="x_content">
          <table id="tabla_oferta_academica"
                 class="table table-striped table-bordered dt-responsive nowrap datatable-responsive"
                 cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>Study</th>
              <th>Language</th>
              <th>Level</th>
              <th>Comment</th>
            </tr>
            </thead>
            <tbody>
            {% for ofertaAcademica in universidad.ofertasAcademicas %}
              <tr>
                <td>{{ ofertaAcademica.estudio.estudio }}</td>
                <td>{{ ofertaAcademica.idioma.idioma }}</td>
                <td>{{ ofertaAcademica.nivel.nivel }}</td>
                <td>{{ ofertaAcademica.comentario | slice(0, 30) | default('') }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- ./ Panel listado oferta académica -->
    </div>
  </div>
{% endblock %}

{% block custom_javascript %}
  <script>
      $('#tabla_oferta_academica').dataTable({
          "paging": false,
          "searching": false,
          "info": false
      });
  </script>
{% endblock %}