{% extends '::base.html.twig' %}

{% block tab_title %} Calls {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
  <div class="row">
    {% include 'ConvocatoriasBundle:convocatoria:modal_info.html.twig' %}
    <!-- Confirmación eliminación Universidad -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-bullhorn"></i> Call: {{ convocatoria.titulo }}
          </h2>
          <div class="pull-right">
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#convocatoria_modal_info"><i
                  class="fa fa-info"></i> Info
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3>Warning!</h3>
              <p>
                It will proceed to eliminate the call: {{ convocatoria.titulo }}
              </p>
            </div>
            <div class="panel-body">
              <div class="pull-right">
                <a href="{{ path('convocatoria_index') }}" class="btn btn-default">Cancel</a>
                <a href="{{ path('convocatoria_delete', { 'id': convocatoria.id }) }}" class="btn btn-danger">Delete</a>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./ Confirmación eliminación Universidad -->
  </div>
{% endblock %}