{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block tab_title %} Calls {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
  <div class="row">
    {% include '@Convocatorias/convocatoria/modal_info.html.twig' %}
    <!-- Formulario Convocatoria -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-bullhorn"></i> Call: {{ convocatoria.titulo }}
          </h2>
          <div class="pull-right">
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#convocatoria_modal_info"><i
                  class="fa fa-info"></i> Info
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            {{ form_start(form) }}
            <div class="col-lg-12">
              <div class="col-lg-4 col-lg-offset-4">
                {{ form_row(form.titulo) }}
                {{ form_row(form.comentario) }}
                {{ form_row(form.fechaInicio) }}
                {{ form_row(form.fechaFin) }}
                {{ form_row(form.plazasOcupadas) }}
                <div class="form-group">
                  <label for="plazasConvocadas">Squares calleds:</label>
                  <input type="text" class="form-control" readonly value="{{ convocatoria.plazasConvocadas }}">
                </div>
                <div class="form-group">
                  <label for="totalUniversidades">Total universities:</label>
                  <input type="text" class="form-control" readonly value="{{ convocatoria.totalUniversidades }}">
                </div>

              </div>
              <div class="col-lg-8 col-lg-offset-2">
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="text-center">
                    <a href="{{ path('convocatoria_index') }}" class="btn btn-default">Cancel</a>
                    {% if action == 'edit' %}
                      <a href="{{ path('convocatoria_delete_confirm', {'id': convocatoria.id}) }}" class="btn btn-danger">Delete</a>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Save</button>
                  </div>
                </div>
              </div>

            </div>
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
    <!-- ./ Formulario Convocatorias -->
  </div>
{% endblock %}
