{% extends '::base.html.twig' %}

{% block tab_title %} Calls {% endblock %}

{% block page_header_title %}{% endblock %}

{% block page_header_search %}{% endblock %}

{% block notifications %}{% endblock %}

{% block page_content %}
  <div class="row">
    {% include 'ConvocatoriasBundle:convocatoria:modal_info.html.twig' %}
    <!-- Listado Convocatorias -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            <i class="fa fa-bullhorn"></i> Calls
          </h2>
          <div class="pull-right">
            <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#convocatoria_modal_info"><i
                  class="fa fa-info"></i> Info
            </button>
            <a href="{{ path('convocatoria_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> New</a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="tabla_convocatorias"
                 class="table table-striped table-bordered dt-responsive nowrap datatable-responsive" cellspacing="0"
                 width="100%">
            <thead>
            <tr>
              <th>Title</th>
              <th>Comment</th>
              <th>Start date</th>
              <th>End date</th>
              <th>Total universities</th>
              <th>Occupied squares</th>
              <th>Squares called</th>
              <th data-sortable="false">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for convocatoria in convocatorias %}
              <tr>
                <td>{{ convocatoria.titulo }}</td>
                <td>{{ convocatoria.comentario }}</td>
                <td>{% if convocatoria.fechaInicio %}{{ convocatoria.fechaInicio|date('Y-m-d') }}{% endif %}</td>
                <td>{% if convocatoria.fechaFin %}{{ convocatoria.fechaFin|date('Y-m-d') }}{% endif %}</td>
                <td>{{ convocatoria.totalUniversidades }}</td>
                <td>{{ convocatoria.plazasOcupadas }}</td>
                <td>{{ convocatoria.plazasConvocadas }}</td>
                <td>
                  <a href="{{ path('convocatoria_edit', { 'id': convocatoria.id }) }}" class="btn btn-info btn-xs"
                     type="button"><i class="fa fa-pencil"></i> Edit</a>
                  <a href="{{ path('convocatoria_delete_confirm', {'id': convocatoria.id}) }}"
                     class="btn btn-danger btn-xs" type="button"><i class="fa fa-trash"></i> Delete</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- ./ Listado Estudios -->
  </div>
{% endblock %}

{% block custom_javascript %}
  <script>
      $('#tabla_convocatorias').dataTable({
          "paging": true,
          "searching": true,
          "info": true
      });
  </script>
{% endblock %}
