<!-- Modal para información de la página -->
<div id="convocatoria_modal_info" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel2">Call Information</h4>
      </div>
      <div class="modal-body">
        <p class="text-justify"><b>What languages should I register?</b>
          <br>You should register the most common languages following the leveling standard: a1, a2, b1, b2, c1, c2.
        </p>
        <p class="text-justify"><b>Do I have different certificates?</b>
          <br>You may occasionally find titles from other schools or entities, so you should Find equivalence tables to
          fit the previously described numbering.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- ./ Modal para información de la página -->